/*----------------------------------------
| copyright 2022 gom 
| <gom@disroot.org>
| https://codeberg.org/gom/
----------------------------------------*/

/*----------------------------------------
| This file is part of the temperantia GNOME Shell theme.

| The temperantia GNOME Shell theme is free software: you can redistribute it 
| and/or modify it under the terms of the GNU General Public License 
| as published by the Free Software Foundation, either version 3 of the License, 
| or (at your option) any later version.

| The temperantia GNOME Shell theme is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.

| You should have received a copy of the GNU General Public License
| along with the temperantia GNOME Shell theme. If not, see http://www.gnu.org/licenses/
----------------------------------------*/

.Leader {

  fill: none !important;
  stroke: #b44c72 !important;
  stroke-width: 0.5 !important;
  }

.Button {
  
  fill: rgba(156, 68, 101, 0.15);
  stroke: #b44c72;
  stroke-width: 0.25;
  }

.Ring {

  fill: none !important;
  stroke: #b44c72 !important;
  stroke-width: 0.5 !important;
  }

.Label {

  fill: rgba(0, 0, 0, 0.0) !important;  
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  }

.TouchStrip, 
.TouchRing {
    
  fill: rgba(156, 68, 101, 0.25) !important;
  stroke: #b44c72 !important;
  stroke-width: 0.1 !important;
  }

