/*----------------------------------------
| copyright 2022 gom 
| <gom@disroot.org>
| https://codeberg.org/gom/
----------------------------------------*/

/*----------------------------------------
| This file is part of the temperantia GTK theme.

| The temperantia GTK theme is free software: you can redistribute it 
| and/or modify it under the terms of the GNU General Public License 
| as published by the Free Software Foundation, either version 3 of the License, 
| or (at your option) any later version.

| The temperantia GTK theme is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.

| You should have received a copy of the GNU General Public License
| along with the temperantia GTK theme. If not, see http://www.gnu.org/licenses/
----------------------------------------*/

/*----------------------------------------
		SCROLLBARS
----------------------------------------*/

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  }

/*--------------------
      SCROLLBAR
--------------------*/

scrollbar {

  background-color: rgba(0, 0, 0, 0.0);
  border: 0 none rgba(0, 0, 0, 0.0);
  }

scrollbar,
scrollbar contents,
scrollbar trough,
scrollbar slider,
dialog scrollbar,
dialog scrollbar trough,
dialog scrollbar slider,
dialog scrollbar.overlay-indicator:not(.dragging):not(.hovering),
dialog scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider,
dialog scrollbar.overlay-indicator:not(.dragging):not(.hovering) trough  {
  
  padding: 0;
  border-radius: 6.2px;
  }

scrollbar:hover trough,
scrollbar.hovering trough,
scrollbar.overlay-indicator trough {
  
  background-color: rgba(0, 0, 0, 0.0);
  }

/*RADIUS - SCROLLBAR VERT*/
scrollbar.vertical,
scrollbar.vertical contents,
scrollbar.vertical trough,
scrollbar.vertical.overlay-indicator:not(.dragging):not(.hovering)
scrollbar.vertical.overlay-indicator:not(.dragging):not(.hovering) trough,
scrollbar.vertical.overlay-indicator:not(.dragging):not(.hovering) contents {

  border-radius: 0 6.2px 6.2px 0;
  }

/*RADIUS - SCROLLBAR HRZ*/
scrollbar.horizontal,
scrollbar.horizontal contents,
scrollbar.horizontal trough,
scrollbar.horizontal.overlay-indicator:not(.dragging):not(.hovering)
scrollbar.horizontal.overlay-indicator:not(.dragging):not(.hovering) trough,
scrollbar.horizontal.overlay-indicator:not(.dragging):not(.hovering) contents {

  border-radius: 0 0 6.2px 6.2px;
  }

/*RADIUS for TILED & MAXIMIZED WINS - SCROLLBAR VERT*/
.background.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.vertical,
.background.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.vertical,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.vertical,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.vertical,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.vertical,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.vertical,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.vertical,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.vertical,
.background.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.vertical trough,
.background.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.vertical trough,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.vertical trough,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.vertical trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.vertical trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.vertical trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.vertical trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.vertical trough {

  border-radius: 0 6.2px 6.2px 0;
  }

/*RADIUS for TILED & MAXIMIZED WINS - SCROLLBAR HRZ*/
.background.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.horizontal,
.background.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.horizontal,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.horizontal,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.horizontal,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.horizontal,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.horizontal,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.horizontal,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.horizontal,
.background.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.horizontal trough,
.background.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.horizontal trough,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.horizontal trough,
.background.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.horizontal trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left scrollbar.horizontal trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-right scrollbar.horizontal trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right scrollbar.horizontal trough,
.background.csd.tiled.tiled-top.tiled-bottom.tiled-left.tiled-right.maximized scrollbar.horizontal trough   {

  border-radius: 0 0 6.2px 6.2px;
  }

scrollbar:backdrop {

  transition: 0ms ease-out;
  }

/*--------------------
	SLIDER
--------------------*/

scrollbar slider {

  background-color: alpha(@sldr_scroll, 0.75);
  margin: 0.171875rem;
  }

scrollbar slider:hover,
scrollbar slider:active {

  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: @sldr_scroll;
  }

scrollbar slider:disabled,
scrollbar slider:backdrop:disabled {

  background-color: rgba(0, 0, 0, 0.0);
  }

scrollbar slider:backdrop {

  transition: 0ms ease-out;
  background-color: alpha(@sldr_scroll, 0.5);
  }
  
/*VERTICAL*/
scrollbar.vertical slider,
scrollbar.overlay-indicator.vertical:not(.dragging):not(.hovering) slider {

  min-height: 2rem;
  min-width: 0.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  }

/*HORIZONTAL*/
scrollbar.horizontal slider,
scrollbar.overlay-indicator.horizontal:not(.dragging):not(.hovering) slider {

  min-width: 1.5rem;
  min-height: 0.5rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  }

/*--------------------
	BUTTON
--------------------*/

scrollbar button {
  
  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  color: rgba(0, 0, 0, 0.0);
  border: 0 none rgba(0, 0, 0, 0.0);
  box-shadow: none;
  }

/*--------------------
      JUNCTION
--------------------*/

junction {
  
  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  border: 0 none rgba(0, 0, 0, 0.0);
  border-radius: 6.2px;
  }

/*----------------------------------------
		SWITCHES
----------------------------------------*/

/*--------------------
   SWITCH UNCHECKED
--------------------*/

switch {

  transition: background 225ms ease-in-out;
  background-color: @trough_switch;
  background-image: none;
  min-height: 1.25rem;
  min-width: 3rem;
  margin-top: 0.0625rem;
  margin-bottom: 0.0625rem;
  border-radius: 9999px;
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.65),
  inset 0 0 0 0.0625rem @trough_switch_brd;
  }

/*HBAR ADJUSTMENTS*/
headerbar switch {

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  }

/*SELECTED ROW ADJUSTMENTS*/
row.activatable:selected switch:not(:disabled):not(:backdrop) {

  box-shadow: inset 0 0 0 0.09375rem @sldr_brd;
  }

/*DIS UNCHKD*/
switch:disabled,
switch:backdrop:disabled {

  transition: all 0ms ease-in;
  background-color: alpha(@trough_switch, 0.35);
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.375),
  inset 0 0 0 0.0625rem alpha(@trough_dis_brd, 0.75);
  }

/*BKDP UNCHKD*/
switch:backdrop {

  transition: all 0ms ease-out;
  background-color: alpha(@trough_switch, 0.75);
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.5),
  inset 0 0 0 0.0625rem alpha(@trough_bkdp_brd, 0.75);
  }

/*--------------------
   SWITCH CHECKED
--------------------*/

switch:checked {

  transition: background 225ms ease-in-out;
  background-color: @accent_main_lght;
  box-shadow: inset 0 0 0 0.0625rem @;
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.75),
  inset 0 0 0 0.0625rem alpha(@trough_brd, 0.75);
  }

/*DIS CHKD*/
switch:checked:disabled,
switch:checked:backdrop:disabled {

  background-color: alpha(@accent_main_lght, 0.65);
  background-image: image(@accent_shade);
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.5),
  inset 0 0 0 0.0625rem alpha(@accent_main, 0.15);
  }

/*BKDP CHKD*/
switch:checked:backdrop {

  transition: all 0ms ease-out;
  background-color: alpha(@accent_main_lght, 0.75);
  background-image: image(@accent_shade);
  box-shadow: 0 0 0.1875rem 0 alpha(shade(@bg_1, 1.075), 0.5),
  inset 0 0 0 0.0625rem alpha(@accent_main, 0.2);
  }

/*--------------------
SLIDER UNCHECKED & CHECKED
--------------------*/

switch slider {

  transition: all 0ms ease-in;
  background-color: @sldr;
  background-image: none;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 9999px;
  outline: 0.09375rem solid;
  outline-color: rgba(0, 0, 0, 0.0);
  -gtk-outline-radius: 9999px;
  box-shadow: 0 0 0.1875rem 0 alpha(@base_shdw, 0.2),
  0 0 0 0.0625rem @sldr_brd;
  }

switch slider:focus,
switch:checked slider:focus {

  transition-duration: 50ms;
  outline-color: @accent_main_lghtr;
  box-shadow: 0 0 0.1875rem 0 @sldr_foc_shdw,
  0 0 0 0.0625rem @sldr_foc_brd;
  }

/*CHKD*/
switch:checked slider {

  box-shadow: 0 0 0.1875rem 0 alpha(@base_shdw, 0.2),
  0 0 0 0.0625rem @sldr_chk_brd;
  }

/*DIS PLAIN & CHKD*/
switch:disabled slider,
switch:backdrop:disabled slider {

  background-image: image(@sldr_dis_shade);
  box-shadow: 0 0 0.1875rem 0 @btn_alt_dis_shdw,
  0 0 0 0.0625rem @sldr_dis_brd;
  }

/*BKDP PLAIN & CHK*/
switch:backdrop slider {

  transition-timing-function: ease-out;
  background-image: image(@sldr_bkdp_shade);
  box-shadow: 0 0 0.1875rem 0 alpha(@base_shdw, 0.125),
  0 0 0 0.0625rem @sldr_bkdp_brd;
  }

/*--------------------
  SWITCH I/O MARKERS
--------------------*/

/*The I/O markers are not visible unless the trough_fg color definition is changed in the colors-*.css files*/

switch image {

  color: @trough_fg;
  -gtk-icon-shadow: 0 0 0.0625rem alpha(@trough_fg, 0.3),
  0 0 0.134375rem alpha(@bg_txt, 0.2);
  }

/*BKDP*/
switch:backdrop image,
switch:checked:backdrop image {

  color: alpha(@trough_fg, 0.75);
  -gtk-icon-shadow: 0 0 0.0625rem alpha(@trough_fg, 0.15),
  0 0 0.134375rem alpha(@bg_txt, 0.1);
  }

/*DIS*/
switch:disabled image,
switch:backdrop:disabled image,
switch:checked:disabled image,
switch:checked:backdrop:disabled image {

  color: alpha(@trough_fg, 0.5);
  -gtk-icon-shadow: 0 0 0.0625rem alpha(@trough_fg, 0.15),
  0 0 0.134375rem alpha(@bg_txt, 0.1);
  }

/*----------------------------------------
	    CHECKS & RADIOS
----------------------------------------*/

/*--------------------
	BASE
--------------------*/

check:not(:indeterminate):not(:checked):not(:backdrop):active {
  
  -gtk-icon-transform: translate(0.375rem, -0.1875rem) rotate(-45deg) scaleY(0.2) rotate(45deg) scaleX(0);
  }

radio:not(:indeterminate):not(:checked):not(:backdrop):active {
  
  -gtk-icon-transform: scale(0);
  }

check:checked:not(:backdrop),
check:indeterminate:not(:backdrop),
radio:checked:not(:backdrop),
radio:indeterminate:not(:backdrop) {
  
  -gtk-icon-transform: unset;
  }

check,
check:indeterminate,
treeview.view check,
row check {

  border-radius: 0.2rem;
  }

radio,
radio:indeterminate,
treeview.view radio,
row radio {

  border-radius: 9999px;
  }

checkbutton.text-button:focus,
radiobutton.text-button:focus,
check:hover,
radio:hover,
check:active,
radio:active {

  transition-duration: 100ms;
  }

check,
radio {

  transition-timing-function: ease-in-out;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr);
  background-clip: padding-box;
  color: @txt_main;
  min-height: 0.875rem;
  min-width: 0.875rem;
  margin: 0 0.25rem;
  border-style: solid;
  border-width: 0.075rem;
  border-color: @entr_brd;
  -gtk-icon-source: none;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_main_shdw_small,
  0 0 0.134375rem @icon_main_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 @entr_shdw,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*FOC & HOV*/
check:focus,
radio:focus,
check:hover,
radio:hover {

  border-color: @btn_hov_foc_brd;
  box-shadow: inset 0 0 0.09375rem 0 @entr_foc_shdw,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*ACT*/
check:active,
radio:active {

  -gtk-icon-transform: scale(0, 1);
  }

/*CHKD*/
check:checked,
radio:checked {

  background-image: linear-gradient(to top, @sel_btm, @sel_top);
  background-clip: border-box;
  color: @txt_lght;
  border-color: alpha(@sel_btm, 0.8);
  -gtk-icon-shadow: 0 0 0.0625rem @icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @icon_sel_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

check:checked {

  -gtk-icon-source: image(-gtk-recolor(url("graphics/check-radio/object-select-symbolic.svg")), 
  -gtk-recolor(url("graphics/check-radio/object-select-symbolic@2.svg")));
  }

radio:checked {

  -gtk-icon-source: image(-gtk-recolor(url("graphics/check-radio/bullet-symbolic.svg")), 
  -gtk-recolor(url("graphics/check-radio/bullet-symbolic@2.svg")));
  }

/*DIS - UNCHKD & CHKD*/
check:not(:checked):disabled,
check:not(:checked):backdrop:disabled,
radio:not(:checked):disabled,
radio:not(:checked):disabled:backdrop,
check:checked:disabled,
check:checked:backdrop:disabled,
radio:checked:disabled,
radio:checked:disabled:backdrop {

  background-image: image(@entr_dis);
  color: @txt_dis;
  border-color: @entr_dis_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 @entr_dis_shdw,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*BKDP - UNCHKD*/
check:not(:checked):backdrop,
radio:not(:checked):backdrop {

  transition: 0ms ease-out;
  background-image: image(@entr_bkdp);
  color: @sel_dis_bkdp_fg;
  border-color: @entr_bkdp_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 @entr_bkdp_shdw,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*BKDP - CHKD*/
check:checked:backdrop,
radio:checked:backdrop {

  transition: 0ms ease-out;
  background-image: image(@sel_dis_bkdp);
  color: @sel_dis_bkdp_fg;
  border-color: @sel_dis_bkdp_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*--------------------
INDETERMINATE CHECKs & RADIOs
--------------------*/

check:indeterminate,
radio:indeterminate {

  background-clip: border-box;
  }

check:indeterminate,
check:indeterminate:hover,
check:indeterminate:focus,
check:indeterminate:checked,
radio:indeterminate,
radio:indeterminate:hover,
radio:indeterminate:focus,
radio:indeterminate:checked {

  -gtk-icon-source: image(-gtk-recolor(url("graphics/check-radio/dash-symbolic.svg")), 
  -gtk-recolor(url("graphics/check-radio/dash-symbolic@2.svg")));
  background-image: image(mix(@sel_lght_top, @bg_1, 0.35));
  color: alpha(@base_shdw, 0.85);
  border-color: mix(@sel_lght_btm, @bg_2, 0.35);
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*BKDP*/
check:indeterminate:backdrop,
radio:indeterminate:backdrop {

  background-image: image(@sel_dis_bkdp);
  color: alpha(@base_shdw, 0.65);
  border-color: mix(@sel_lght_btm, @bg_2, 0.35);
  }

/*--------------------
CHECK & RADIO BUTTONS
--------------------*/

checkbutton.text-button, 
radiobutton.text-button {

  transition-timing-function: ease-in;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  padding: 0.125rem 0;
  margin: 0.125rem;
  border: 0 none rgba(0, 0, 0, 0.0);
  outline: 0.09375rem solid;
  outline-color: rgba(0, 0, 0, 0.0);
  -gtk-outline-radius: 0.3rem;
  box-shadow: none;
  }

checkbutton.text-button:focus,
radiobutton.text-button:focus {

  transition-property: outline;
  outline-color: @btn_hov_foc_brd;
  }

checkbutton.text-button label,
radiobutton.text-button label {
  
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
  }

checkbutton.text-button label:not(:only-child):first-child, 
radiobutton.text-button label:not(:only-child):first-child {
  
  margin-left: 0.25rem;
  }

checkbutton.text-button label:not(:only-child):last-child, 
radiobutton.text-button label:not(:only-child):last-child {

  margin-right: 0.25rem;
  }

/*--------------------
TREEVIEW CHECKs & RADIOs
--------------------*/

/*ROW FOC, HOV, ACT + UNCHKD*/
row.activatable:focus check:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled),
row.activatable:focus radio:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled),
row.activatable:hover check:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled),
row.activatable:hover radio:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled),
row.activatable:active check:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled),
row.activatable:active radio:not(:checked):not(:active):not(:focus):not(:backdrop):not(:disabled) {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr);
  border-color: @btn_hov_foc_brd;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem @entr_foc_shdw;
  }

/*SELECTED + UNCHKD*/
treeview.view:selected check:not(:checked),
treeview.view:selected:focus check:not(:checked),
treeview.view check:selected:not(:checked),
treeview.view check:selected:focus:not(:checked),
/**/
treeview.view:selected radio:not(:checked),
treeview.view:selected:focus radio:not(:checked),
treeview.view radio:selected:not(:checked),
treeview.view radio:selected:focus:not(:checked),
/**/
row.activatable:selected check:not(:checked),
row.activatable:selected radio:not(:checked) {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr);
  border-color: @chk_rdo_tw_brd_drk;
  box-shadow: 0 0 0.1875rem 0 @entr_shdw,
  inset 0 0 0 0.03125rem alpha(@entr, 0.65);
  }

/*SELECTED + CHKD*/
treeview.view:selected check:checked,
treeview.view:selected:focus check:checked,
treeview.view check:checked:selected,
treeview.view check:checked:selected:focus,
/**/
treeview.view:selected radio:checked,
treeview.view:selected:focus radio:checked,
treeview.view radio:checked:selected,
treeview.view radio:checked:selected:focus,
/**/
row.activatable:selected check:checked,
row.activatable:selected radio:checked {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  border-color: @chk_rdo_tw_brd_drk;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

/*DIS - SELECTED + CHKD & UNCHKD*/
treeview.view:selected check:checked:disabled,
treeview.view:selected check:checked:backdrop:disabled,
treeview.view:selected:focus check:checked:disabled,
treeview.view:selected:focus check:checked:backdrop:disabled,
treeview.view check:checked:selected:disabled,
treeview.view check:checked:selected:backdrop:disabled,
treeview.view check:checked:selected:focus:disabled,
treeview.view check:checked:selected:focus:backdrop:disabled,
treeview.view:selected:backdrop check:checked:disabled,
treeview.view:selected:backdrop check:checked:backdrop:disabled,
treeview.view:selected:focus:backdrop check:checked:disabled,
treeview.view:selected:focus:backdrop check:checked:backdrop:disabled,
treeview.view:backdrop check:checked:selected:disabled,
treeview.view:backdrop check:checked:selected:backdrop:disabled,
treeview.view:backdrop check:checked:selected:focus:disabled,
treeview.view:backdrop check:checked:selected:focus:backdrop:disabled,
/**/
treeview.view:selected check:not(:checked):disabled,
treeview.view:selected check:not(:checked):backdrop:disabled,
treeview.view:selected:focus check:not(:checked):disabled,
treeview.view:selected:focus check:not(:checked):backdrop:disabled,
treeview.view check:not(:checked):selected:disabled,
treeview.view check:not(:checked):selected:backdrop:disabled,
treeview.view check:not(:checked):selected:focus:disabled,
treeview.view check:not(:checked):selected:focus:backdrop:disabled,
treeview.view:selected:backdrop check:not(:checked):disabled,
treeview.view:selected:backdrop check:not(:checked):backdrop:disabled,
treeview.view:selected:focus:backdrop check:not(:checked):disabled,
treeview.view:selected:focus:backdrop check:not(:checked):backdrop:disabled,
treeview.view:backdrop check:not(:checked):selected:disabled,
treeview.view:backdrop check:not(:checked):selected:backdrop:disabled,
treeview.view:backdrop check:not(:checked):selected:focus:disabled,
treeview.view:backdrop check:not(:checked):selected:focus:backdrop:disabled,
/**/
treeview.view:selected radio:checked:disabled,
treeview.view:selected radio:checked:backdrop:disabled,
treeview.view:selected:focus radio:checked:disabled,
treeview.view:selected:focus radio:checked:backdrop:disabled,
treeview.view radio:checked:selected:disabled,
treeview.view radio:checked:selected:backdrop:disabled,
treeview.view radio:checked:selected:focus:disabled,
treeview.view radio:checked:selected:focus:backdrop:disabled,
treeview.view:selected:backdrop radio:checked:disabled,
treeview.view:selected:backdrop radio:checked:backdrop:disabled,
treeview.view:selected:focus:backdrop radio:checked:disabled,
treeview.view:selected:focus:backdrop radio:checked:backdrop:disabled,
treeview.view:backdrop radio:checked:selected:disabled,
treeview.view:backdrop radio:checked:selected:backdrop:disabled,
treeview.view:backdrop radio:checked:selected:focus:disabled,
treeview.view:backdrop radio:checked:selected:focus:backdrop:disabled,
/**/
treeview.view:selected radio:not(:checked):disabled,
treeview.view:selected radio:not(:checked):backdrop:disabled,
treeview.view:selected:focus radio:not(:checked):disabled,
treeview.view:selected:focus radio:not(:checked):backdrop:disabled,
treeview.view radio:not(:checked):selected:disabled,
treeview.view radio:not(:checked):selected:backdrop:disabled,
treeview.view radio:not(:checked):selected:focus:disabled,
treeview.view radio:not(:checked):selected:focus:backdrop:disabled,
treeview.view:selected:backdrop radio:not(:checked):disabled,
treeview.view:selected:backdrop radio:not(:checked):backdrop:disabled,
treeview.view:selected:focus:backdrop radio:not(:checked):disabled,
treeview.view:selected:focus:backdrop radio:not(:checked):backdrop:disabled,
treeview.view:backdrop radio:not(:checked):selected:disabled,
treeview.view:backdrop radio:not(:checked):selected:backdrop:disabled,
treeview.view:backdrop radio:not(:checked):selected:focus:disabled,
treeview.view:backdrop radio:not(:checked):selected:focus:backdrop:disabled,
/**/
row.activatable:selected check:checked:disabled,
row.activatable:selected check:not(:checked):disabled,
row.activatable:selected check:checked:backdrop:disabled,
row.activatable:selected check:not(:checked):backdrop:disabled,
/**/
row.activatable:selected radio:checked:disabled,
row.activatable:selected radio:not(:checked):disabled,
row.activatable:selected radio:checked:backdrop:disabled,
row.activatable:selected radio:not(:checked):backdrop:disabled {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr_bkdp);
  color: @txt_dis;
  border-color: @entr_dis_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem @entr_dis_shdw;
  }

/*BKDP - SELECTED + UNCHKD*/
treeview.view:selected check:not(:checked):backdrop,
treeview.view:selected:focus check:not(:checked):backdrop,
treeview.view check:not(:checked):selected:backdrop,
treeview.view check:not(:checked):selected:focus:backdrop,
treeview.view:selected:backdrop check:not(:checked):backdrop,
treeview.view:selected:focus:backdrop check:not(:checked):backdrop,
treeview.view:backdrop check:not(:checked):selected:backdrop,
treeview.view:backdrop check:not(:checked):selected:focus:backdrop,
/**/
treeview.view:selected radio:not(:checked):backdrop,
treeview.view:selected:focus radio:not(:checked):backdrop,
treeview.view radio:not(:checked):selected:backdrop,
treeview.view radio:not(:checked):selected:focus:backdrop,
treeview.view:selected:backdrop radio:not(:checked):backdrop,
treeview.view:selected:focus:backdrop radio:not(:checked):backdrop,
treeview.view:backdrop radio:not(:checked):selected:backdrop,
treeview.view:backdrop radio:not(:checked):selected:focus:backdrop,
/**/
row.activatable:selected check:not(:checked):backdrop,
row.activatable:selected radio:not(:checked):backdrop {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr_bkdp);
  border-color: @entr_bkdp_brd;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem @entr_bkdp_shdw;
  }

/*BKDP - SELECTED + CHKD*/
treeview.view:selected check:checked:backdrop,
treeview.view:selected:focus check:checked:backdrop,
treeview.view check:checked:selected:backdrop,
treeview.view check:checked:selected:focus:backdrop,
treeview.view:selected:backdrop check:checked:backdrop,
treeview.view:selected:focus:backdrop check:checked:backdrop,
treeview.view:backdrop check:checked:selected:backdrop,
treeview.view:backdrop check:checked:selected:focus:backdrop,
/**/
treeview.view:selected radio:checked:backdrop,
treeview.view:selected:focus radio:checked:backdrop,
treeview.view radio:checked:selected:backdrop,
treeview.view radio:checked:selected:focus:backdrop,
treeview.view:selected:backdrop radio:checked:backdrop,
treeview.view:selected:focus:backdrop radio:checked:backdrop,
treeview.view:backdrop radio:checked:selected:backdrop,
treeview.view:backdrop radio:checked:selected:focus:backdrop,
/**/
row.activatable:selected check:checked:backdrop,
row.activatable:selected radio:checked:backdrop {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  color: @sel_dis_bkdp_fg;
  border-color: @sel_dis_bkdp_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

/*--------------------
 MENU CHECKS & RADIOS
--------------------*/

menuitem check:dir(ltr),
menuitem radio:dir(ltr) {
  
  margin-right: 0.375rem;
  }

menuitem check:dir(rtl),
menuitem radio:dir(rtl) {
  
  margin-left: 0.375rem;
  }

menuitem radio:checked:not(:backdrop), 
menuitem radio:indeterminate:not(:backdrop),
menuitem check:checked:not(:backdrop),
menuitem check:indeterminate:not(:backdrop) {
  
  transition-timing-function: ease-in;
  }

/*BASE*/
menuitem check,
menuitem radio {

  margin: 0;
  }

/*--------------------
  CONTENT VIEW CHECKS
--------------------*/

/*PLAIN*/
.view.content-view.check:not(list), 
iconview.content-view.check:not(list),
.content-view:not(list) check {

  transition-timing-function: ease-in;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(alpha(@sel_lght_top, 0.75));
  background-origin: border-box;
  background-clip: border-box;
  color: @txt_main;
  min-width: 2rem;
  min-height: 2rem;
  margin: 0.25rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: @sel_btm;
  border-radius: 0.3rem;
  -gtk-icon-source: none;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_main_shdw_small,
  0 0 0.134375rem @icon_main_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @entr_shdw,
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

.view.content-view.check:not(list) checkbutton,
iconview.content-view.check:not(list) checkbutton,
.content-view:not(list) checkbutton {

  margin: 0;
  }

/*FOC & HOV*/
.view.content-view.check:focus:not(list),
.view.content-view.check:hover:not(list),
iconview.content-view.check:focus:not(list),
iconview.content-view.check:hover:not(list),
.content-view:not(list) check:focus,
.content-view:not(list) check:hover {

  box-shadow: 0 0 0.1875rem 0 @entr_foc_shdw,
  inset 0 0 0 0.03125rem @btn_hov_foc_brd;
  }

/*CHKD*/
.view.content-view.check:checked:not(list),
iconview.content-view.check:checked:not(list),
.content-view:not(list) check:checked {

  -gtk-icon-source: image(-gtk-recolor(url("graphics/check-radio/object-select-symbolic.svg")), 
  -gtk-recolor(url("graphics/check-radio/object-select-symbolic@2.svg")));
  background-color: rgba(0, 0, 0, 0.0);
  background-image: linear-gradient(to bottom, @sel_lght_top, @sel_lght_btm);
  color: @txt_lght;
  -gtk-icon-shadow: 0 0 0.0625rem alpha(@brd, 0.1),
  0 -0.015625rem 0.134375rem alpha(@brd, 0.2);
  box-shadow: 0 0 0.1875rem 0 @entr_shdw,
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

/*CHKD-FOC*/
.view.content-view.check:checked:focus:not(list), 
iconview.content-view.check:checked:focus:not(list),
.content-view:not(list) check:checked:focus {

  box-shadow: 0 0 0.1875rem 0 @btn_hov_foc_shdw,
  inset 0 0 0 0.03125rem @btn_hov_foc_brd;
  }

/*DIS - UNCHKD & CHKD*/
.view.content-view.check:not(:checked):disabled:not(list),
.view.content-view.check:not(:checked):backdrop:disabled:not(list),
iconview.content-view.check:not(:checked):disabled:not(list),
iconview.content-view.check:not(:checked):backdrop:disabled:not(list),
.content-view:not(list) check:not(:checked):disabled,
.content-view:not(list) check:not(:checked):backdrop:disabled,
/**/
.view.content-view.check:checked:disabled:not(list),
.view.content-view.check:checked:backdrop:disabled:not(list),
iconview.content-view.check:checked:disabled:not(list),
iconview.content-view.check:checked:backdrop:disabled:not(list),
.content-view:not(list) check:checked:disabled,
.content-view:not(list) check:checked:backdrop:disabled {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@entr_bkdp);
  color: @txt_dis;
  border-color: @entr_bkdp_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem @entr_dis_shdw;
  }

/*BKDP - UNCHKD & CHKD*/
.view.content-view.check:not(:checked):backdrop:not(list),
iconview.content-view.check:not(:checked):backdrop:not(list),
.content-view:not(list) check:not(:checked):backdrop,
/**/
.view.content-view.check:checked:backdrop:not(list),
iconview.content-view.check:checked:backdrop:not(list),
.content-view:not(list) check:checked:backdrop {

  transition: 0ms ease-out;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@sel_dis_bkdp);
  color: @sel_dis_bkdp_fg;
  border-color: @sel_dis_bkdp_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

/*--------------------
  MISC ADJUSTMENTS
--------------------*/

check:only-child,
radio:only-child {
  
  margin: 0;
  }

popover check.left:dir(rtl), 
popover radio.left:dir(rtl) {
  
  margin-left: 0;
  margin-right: 0.75rem;
  }

popover check.right:dir(ltr), 
popover radio.right:dir(ltr) {
  
  margin-left: 0.75rem;
  margin-right: 0;
  }
