/*----------------------------------------
| copyright 2022 gom 
| <gom@disroot.org>
| https://codeberg.org/gom/
----------------------------------------*/

/*----------------------------------------
| This file is part of the temperantia GTK theme.

| The temperantia GTK theme is free software: you can redistribute it 
| and/or modify it under the terms of the GNU General Public License 
| as published by the Free Software Foundation, either version 3 of the License, 
| or (at your option) any later version.

| The temperantia GTK theme is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.

| You should have received a copy of the GNU General Public License
| along with the temperantia GTK theme. If not, see http://www.gnu.org/licenses/
----------------------------------------*/

/*----------------------------------------
	SCALES, PROGRESS & LEVELS 
----------------------------------------*/

/*--------------------
	RADIUS
--------------------*/

scale trough,
scale fill,
scale highlight,
scale slider,
progressbar,
progressbar trough,
progressbar progress,
levelbar trough,
levelbar block {

  border-radius: 9999px;
  }

/* *** TREEVIEW PROGRESSBAR *** */

treeview.view.trough,
treeview.view.trough:disabled,
treeview.view.trough:backdrop,
treeview.view.trough:selected,
treeview.view.trough:selected:focus,
treeview.view.trough:backdrop:selected,
treeview.view.trough:backdrop:selected:focus,
treeview.view.trough:disabled:selected,
treeview.view.trough:disabled:selected:focus,
/**/
treeview.view.progressbar,
treeview.view.progressbar:disabled,
treeview.view.progressbar:backdrop,
treeview.view.progressbar:selected,
treeview.view.progressbar:selected:focus,
treeview.view.progressbar:backdrop:selected,
treeview.view.progressbar:backdrop:selected:focus,
treeview.view.progressbar:disabled:selected,
treeview.view.progressbar:disabled:selected:focus {

  border-radius: 0.225rem;
  }

/*--------------------
   HEIGHTS & WIDTHS
--------------------*/

/* *** COMMON *** */

scale.horizontal trough,
scale.horizontal highlight,
scale.horizontal fill,
/**/
progressbar.horizontal trough,
progressbar.horizontal progress,
/**/
levelbar.horizontal block {
  
  min-height: 0.3359375rem;
  }

scale.vertical trough,
scale.vertical highlight,
scale.vertical fill,
/**/
progressbar.vertical trough,
progressbar.vertical progress,
/**/
levelbar.vertical block {
  
  min-width: 0.3359375rem;
  }

/* *** LEVELBAR BLOCKS *** */

/*HRZ*/
levelbar.horizontal block {

  min-width: 0.40625rem;
  }

/*VERT*/
levelbar.vertical block {

  min-height: 0.40625rem;
  }

/*HRZ DISCRETE*/
levelbar.horizontal.discrete block {

  min-width: 2rem;
  }

/*VERT DISCRETE*/
levelbar.vertical.discrete block {

  min-height: 2rem;
  }

/*--------------------
   PADDING & MARGIN
--------------------*/

/* *** SCALE *** */

/*HRZ*/
scale.horizontal:not(.color) {

  padding: 0 0.375rem;
  }

/*VERT*/
scale.vertical:not(.color) {

  padding: 0.375rem 0;
  }

/* *** SCALE TROUGH*** */

/*HRZ*/
scale.horizontal trough {

  margin: 0.5rem 0;
  }

/*VERT*/
scale.vertical trough {

  margin: 0 0.5rem;
  }

/* *** SCALE HILIGHT & FILL *** */

/*HRZ & VERT*/
scale highlight,
scale fill {

  margin: -0.125rem;
  }

/* *** PROGRESSBAR & PROGRESS *** */

/*HRZ*/
progressbar.horizontal progress {
  
  margin: 0 -0.125rem;
  }

/*VERT*/
progressbar.vertical progress {
  
  margin: -0.125rem 0;
  }

/*DIALOG HRZ*/
dialog progressbar.horizontal,
messagedialog progressbar.horizontal {
  
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
  }

/*DIALOG VERT*/
dialog progressbar.vertical,
messagedialog progressbar.vertical {
  
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem;
  }

/* *** LEVELBAR DISCRETE BLOCK *** */

/*HRZ*/
levelbar.horizontal.discrete block:not(:first-child) {

  margin-left: 0.3125rem;
  }

/*VERT*/
levelbar.vertical.discrete block {

  margin: 0.125rem 0;
  }

/*----------------------------------------
      TROUGHS, FILLS & EMPTY BLOCKS
----------------------------------------*/

scale trough,
scale fill,
progressbar trough,
levelbar block.empty {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@trough_lght);
  border: 0.03125rem solid;
  border-color: alpha(@trough_brd, 0.35);
  }

levelbar block.empty {

  border-color: alpha(@trough_brd, 0.5);
  }

/*DIS*/
scale trough:disabled,
scale trough:disabled:backdrop,
scale fill:disabled,
scale fill:disabled:backdrop,
progressbar trough:disabled,
progressbar trough:backdrop:disabled,
levelbar block.empty:disabled,
levelbar block.empty:backdrop:disabled {

  background-image: image(alpha(@trough_drk, 0.4));
  border-color: alpha(@trough_dis_brd, 0.35);
  }

/*BKDP*/
scale trough:backdrop,
scale fill:backdrop,
progressbar trough:backdrop,
levelbar block.empty:backdrop {

  background-image: image(@trough_bkdp_lght);
  border-color: alpha(@trough_bkdp_brd, 0.35);
  }

/*--------------------
   PROGRESSBAR EMPTY
--------------------*/

omnibar progressbar trough.empty,
omnibar progressbar trough.empty:backdrop {

  background-image: none;
  border-color: rgba(0, 0, 0, 0.0);
  }

progressbar trough.empty progress {
  
  all: unset;
  }

/*--------------------
COLOR & LEVELBAR TROUGHS
--------------------*/

scale.color trough
levelbar trough {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  margin: 0;
  padding: 0;
  border: 0 none rgba(0, 0, 0, 0.0);
  box-shadow: none;
  }

/*----------------------------------------
	  HIGHLIGHT & PROGRESS
----------------------------------------*/

scale highlight,
progressbar progress {

  background-color: @sel_lght_top;
  background-image: linear-gradient(to top, @sel_lght_top, @sel_lght_btm);
  border: 0.0625rem solid;
  border-color: @sel_lght_brd;
  }

/*VERT*/
scale.vertical highlight,
progressbar.vertical progress {

  background-image: linear-gradient(to left, @sel_lght_top, @sel_lght_btm);
  }

/*DIS*/
scale highlight:disabled,
scale highlight:backdrop:disabled,
progressbar progress:disabled,
progressbar progress:backdrop:disabled {

  background-image: image(mix(@sel_lght_top, @trough_lght, 0.6));
  color: @sel_dis_bkdp_fg;
  border-color: mix(@sel_lght_top, @trough_drk, 0.7);
  }

/*BKDP*/
scale highlight:backdrop,
progressbar progress:backdrop {

  background-image: image(@accent_shade);
  border-color: @accent_shade;
  }

/*----------------------------------------
		SCALE SLIDER
----------------------------------------*/

scale slider {

  transition: all 0ms ease-in;
  background-color: @sldr;
  background-image: none;
  min-height: 1.125rem;
  min-width: 1.125rem;
  outline: 0.09375rem solid;
  outline-color: rgba(0, 0, 0, 0.0);
  -gtk-outline-radius: 9999px;
  box-shadow: 0 0 0.1875rem 0 alpha(@base_shdw, 0.2),
  0 0 0 0.075rem @sldr_brd;
  }

/*HRZ*/
scale.horizontal slider {

  margin: -0.5rem 0; 
  }

/*VERT*/
scale.vertical slider {

  margin: 0 -0.5rem;
  }

/*FOC*/
scale slider:focus {

  transition-duration: 50ms;
  outline-color: @accent_main_lghtr;
  box-shadow: 0 0 0.1875rem 0 @accent_main_drkr,
  0 0 0 0.075rem @sldr_foc_brd;
  }

/*DIS*/
scale slider:disabled,
scale slider:backdrop:disabled {

  background-image: image(@sldr_dis_shade);
  box-shadow: 0 0 0.1875rem 0 @btn_alt_dis_shdw,
  0 0 0 0.075rem @sldr_dis_brd;
  }

/*BKDP*/
scale slider:backdrop {

  transition-timing-function: ease-out;
  background-image: image(@sldr_bkdp_shade);
  box-shadow: 0 0 0.1875rem 0 alpha(@base_shdw, 0.125),
  0 0 0 0.075rem @sldr_bkdp_brd;
  }

/*----------------------------------------
	    LEVELBAR BLOCKS
----------------------------------------*/

/*BASE*/
levelbar block:not(.empty) {

  background-color: @sel_lght_top;
  border: 0.03125rem solid;
  border-color: @trough_bkdp_brd;
  }

/*DIS*/
levelbar block:not(.empty):disabled,
levelbar block:not(.empty):backdrop:disabled {

  background-image: image(@accent_shade);
  border-color: @trough_dis_brd;
  }

/*BKDP*/
levelbar block:not(.empty):backdrop {

  background-image: image(@accent_shade);
  border-color: @trough_bkdp_brd;
  }

/*--------------------
	LOW
--------------------*/

/*HRZ & STRENGTH WEAK*/
levelbar block.filled.low,
levelbar block.filled.strength-weak {

  background-color: @accent_errr_lght;
  background-image: linear-gradient(to top, @accent_errr_lght, @accent_errr);
  border-color: @accent_errr_drkr;
  }

levelbar block.filled.strength-weak {

  box-shadow: inset 0 0 0 0.03125rem @accent_errr_drk;
  }

/*VERT*/
levelbar.vertical block.filled.low {

  background-image: linear-gradient(to left, @accent_errr_lght, @accent_errr);
  }

/*INV*/
levelbar.inverted block.filled.low {

  background-image: linear-gradient(to right, @accent_errr_lght, @accent_errr);
  }

/*DIS & BKDP*/
levelbar block.filled.low:disabled,
levelbar block.filled.low:backdrop {

  background-image: image(@accent_shade);
  border-color: alpha(@accent_errr_drkr, 0.75);
  }

/*--------------------
	MIDDLE
--------------------*/

/*HRZ & STRENGTH LOW*/
levelbar block.filled.mid,
levelbar block.filled.strength-low {

  background-color: @accent_wrng_lght;
  background-image: linear-gradient(to top, @accent_wrng_lght, @accent_wrng);
  border-color: @accent_wrng_drk;
  }

levelbar block.filled.strength-low {

  box-shadow: inset 0 0 0 0.03125rem @accent_wrng;
  }

/*VERT*/
levelbar.vertical block.filled.mid {

  background-image: linear-gradient(to left, @accent_wrng_lght, @accent_wrng);
  }

/*INV*/
levelbar.inverted block.filled.mid {

  background-image: linear-gradient(to right, @accent_wrng_lght, @accent_wrng);
  }

/*DIS & BKDP*/
levelbar block.filled.mid:disabled,
levelbar block.filled.mid:backdrop {
  
  background-image: image(@accent_shade);
  border-color: alpha(@accent_wrng_drkr, 0.75);
  }

/*--------------------
	HIGH
--------------------*/

/*HRZ*/
levelbar block.filled.high {

  background-color: @accent_alt_lght;
  background-image: linear-gradient(to top, @accent_alt_lght, @accent_alt);
  border-color: alpha(@accent_alt_drk, 0.75);
  }

/*VERT*/
levelbar.vertical block.filled.high {
  
  background-image: linear-gradient(to left, @accent_alt_lght, @accent_alt);
  }

/*INV*/
levelbar.inverted block.filled.high {

  background-image: linear-gradient(to right, @accent_alt_lght, @accent_alt);
  }

/*DIS & BKDP*/
levelbar block.filled.high:disabled,
levelbar block.filled.high:backdrop {
  
  background-image: image(@accent_shade);
  border-color: alpha(@accent_alt_drk, 0.7);
  }

/*--------------------
	FULL
--------------------*/

/*HRZ*/
levelbar block.filled.full {

  background-color: @accent_sccss_lght;
  background-image: linear-gradient(to top, @accent_sccss_lght, @accent_sccss);
  border-color: @accent_sccss_drkr;
  }

/*STRENGTHS MEDIUM to HIGH*/
levelbar.horizontal.discrete block.filled.strength-medium {

  background-image: image(shade(@accent_sccss, 1.1));
  }

levelbar.horizontal.discrete block.filled.strength-good {

  background-image: image(shade(@accent_sccss, 1.2));
  }

levelbar.horizontal.discrete block.filled.strength-high {

  background-image: image(shade(@accent_sccss, 1.4));
  }

levelbar.horizontal.discrete block.filled.strength-medium,
levelbar.horizontal.discrete block.filled.strength-good,
levelbar.horizontal.discrete block.filled.strength-high {

  box-shadow: inset 0 0 0 0.03125rem @accent_sccss_drk;
  }

/*VERT*/
levelbar.vertical block.filled.full {
  
  background-image: linear-gradient(to left, @accent_sccss_lght, @accent_sccss);
  }

/*INV*/
levelbar.inverted block.filled.full {

  background-image: linear-gradient(to right, @accent_sccss_lght, @accent_sccss);
  }

/*DIS & BKDP*/
levelbar block.filled.full:disabled,
levelbar block.filled.full:backdrop {
  
  background-image: image(@accent_shade);
  border-color: alpha(@accent_sccss_drkr, 0.75);
  }

/*----------------------------------------
	    MISC ADJUSTMENTS
----------------------------------------*/

/*--------------------
   NIGHT LIGHT SCALE
--------------------*/

/*SCALE*/
scale.night-light-temperature {
  
  min-height: 0.625rem;
  min-width: 0.625rem;
  margin: 0;
  padding: 0.75rem;
  }

/*SLIDER*/
scale.night-light-temperature slider {

  min-height: 1.25rem;
  min-width: 1.25rem;
  margin: -0.625rem;
  }

/*TROUGH*/
scale.night-light-temperature trough {
  
  min-height: 0;
  min-width: 0;
  padding: 0.125rem 0;
  border-color: @accent_wrng_drkr;
  }

/*TROUGH BKDP & DIS*/
scale.night-light-temperature trough:disabled,
scale.night-light-temperature trough:backdrop {

  border-color: alpha(@accent_wrng_drkr, 0.75);
  box-shadow: inset 0 1rem 0 0 @accent_shade;
  }

/*--------------------
   TREEVIEWS & ROWS
--------------------*/

/* *** TROUGHS *** */

/*COMMON*/
treeview.view.trough,
treeview.view.trough:selected,
treeview.view.trough:selected:focus,
treeview.view.trough:backdrop:selected,
treeview.view.trough:backdrop:selected:focus,
treeview.view.trough:disabled:selected,
treeview.view.trough:disabled:selected:focus,
/**/
row:selected progressbar trough,
progressbar row:selected trough,
row:selected progressbar trough:backdrop,
progressbar row:selected trough:backdrop,
row:selected progressbar trough:disabled,
progressbar row:selected trough:disabled,
/**/
row:selected scale trough,
scale row:selected trough,
row:selected scale trough:backdrop,
scale row:selected trough:backdrop,
row:selected scale trough:disabled,
scale row:selected trough:disabled,
/**/
row:selected scale fill,
scale row:selected fill,
row:selected scale fill:backdrop,
scale row:selected fill:backdrop,
row:selected scale fill:disabled,
scale row:selected fill:disabled {
  
  background-color: rgba(0, 0, 0, 0.0);
  background-image: linear-gradient(to bottom, @trough_drk, @trough_lght);
  color: @txt_main;
  font-weight: 700;
  padding: 0;
  border: 0.03125rem solid;
  border-color: @trough_brd;
  text-shadow: 0 0 0.0625rem @txt_main_shdw_small,
  0 0 0.134375rem @txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_main_shdw_small,
  0 0 0.134375rem @icon_main_shdw_wide;
  }

treeview.view.trough:selected,
treeview.view.trough:selected:focus {

  background-image: image(alpha(@trough_lght, 0.75));
  }

/*UNSELECTED BKDP & DIS*/
treeview.view.trough:backdrop,
treeview.view.trough:disabled {

  background-image: linear-gradient(to bottom, @trough_bkdp_drk, @trough_bkdp_lght);
  color: @txt_dis;
  border-color: @trough_dis_brd;
  text-shadow: 0 0 0.0625rem @txt_dis_shdw_small,
  0 0 0.134375rem @txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide; 
  }

/*SELECTED FG*/
treeview.view.trough:selected,
treeview.view.trough:selected:focus,
row:selected progressbar trough,
progressbar row:selected trough,
row:selected scale trough,
scale row:selected trough,
row:selected scale fill,
scale row:selected fill {
  
  color: @txt_main_2;
  text-shadow: 0 0 0.0625rem @txt_main_2_shdw_small,
  0 0 0.134375rem @txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_main_2_shdw_small,
  0 0 0.134375rem @icon_main_2_shdw_wide; 
  }

/*SELECTED FG BKDP & DIS*/
treeview.view.trough:backdrop:selected,
treeview.view.trough:backdrop:selected:focus,
treeview.view.trough:disabled:selected,
treeview.view.trough:disabled:selected:focus,
row:selected progressbar trough:backdrop,
progressbar row:selected trough:backdrop,
row:selected progressbar trough:disabled,
progressbar row:selected trough:disabled,
row:selected scale trough:backdrop,
scale row:selected trough:backdrop,
row:selected scale trough:disabled,
scale row:selected trough:disabled,
row:selected scale fill:backdrop,
scale row:selected fill:backdrop,
row:selected scale fill:disabled,
scale row:selected fill:disabled {

  color: @txt_dis;
  text-shadow: 0 0 0.0625rem @txt_dis_shdw_small,
  0 0 0.134375rem @txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  }

/* *** PROGRESS & HIGHLIGHT *** */

treeview.view.progressbar {

  background-color: @sel_lght_top;
  background-image: radial-gradient(50% 50% at center, alpha(@sel_lght_top, 0.0), @sel_shade);
  color: @txt_lght;
  font-weight: 700;
  border: 0.0625rem solid;
  border-color: @sel_btm;
  text-shadow: 0 0 0.0625rem @txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @icon_sel_shdw_wide;
  }

/*SELECTED*/
treeview.view.progressbar:selected,
treeview.view.progressbar:selected:focus,
row:selected progressbar progress,
progressbar row:selected progress,
row:selected scale highlight,
scale row:selected highlight {

  background-color: @txt_lght;
  background-image: image(alpha(@sel_lght_top, 0.925));
  color: @txt_lght;
  border-color: @accent_main_drk;
  text-shadow: 0 0 0.0625rem @txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @icon_sel_shdw_wide;
  }

/*UNSELECTED + SELECTED BKDP & DIS*/
treeview.view.progressbar:backdrop,
treeview.view.progressbar:disabled,
treeview.view.progressbar:backdrop:selected,
treeview.view.progressbar:backdrop:selected:focus,
treeview.view.progressbar:disabled:selected,
treeview.view.progressbar:disabled:selected:focus,
row:selected progressbar progress:backdrop,
progressbar row:selected progress:backdrop,
row:selected progressbar progress:disabled,
progressbar row:selected progress:disabled,
row:selected scale highlight:backdrop,
scale row:selected highlight:backdrop,
row:selected scale highlight:disabled,
scale row:selected highlight:disabled {
  
  background-color: @trough_bkdp_lght;
  background-image: image(@sel_dis_bkdp);
  color: @txt_dis;
  border-color: alpha(@accent_main, 0.5);
  text-shadow: 0 0 0.0625rem @txt_dis_shdw_small,
  0 0 0.134375rem @txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  }

/*--------------------
OSDs, POPOVERs & DIALOGs
--------------------*/

/* *** TROUGHS *** */

scale .osd trough,
.osd scale trough,
scale .osd fill,
.osd scale fill,
progressbar .osd trough,
.osd progressbar trough,
/**/
popover scale trough,
popover scale fill,
popover progressbar trough,
/**/
dialog scale trough,
dialog scale fill,
dialog progressbar trough {

  background-image: image(@trough_osd);
  border-color: alpha(@trough_osd_brd, 0.45);
  }

/*DIS*/
scale .osd trough:disabled,
scale .osd trough:disabled:backdrop,
.osd scale trough:disabled,
.osd scale trough:disabled:backdrop,
scale .osd fill:disabled,
scale .osd fill:disabled:backdrop,
.osd scale fill:disabled,
.osd scale fill:disabled:backdrop,
progressbar .osd trough:disabled,
progressbar .osd trough:disabled:backdrop,
.osd progressbar trough:disabled,
.osd progressbar trough:disabled:backdrop,
/**/
popover scale trough:disabled,
popover scale trough:disabled:backdrop,
popover scale fill:disabled,
popover scale fill:disabled:backdrop,
popover progressbar trough:disabled,
popover progressbar trough:disabled:backdrop,
/**/
dialog scale trough:disabled,
dialog scale trough:disabled:backdrop,
dialog scale fill:disabled,
dialog scale fill:disabled:backdrop,
dialog progressbar trough:disabled,
dialog progressbar trough:disabled:backdrop {

  background-image: image(@trough_osd_dis);
  border-color: alpha(@trough_osd_dis_brd, 0.25);
  }

/*BKDP*/
scale .osd trough:backdrop,
.osd scale trough:backdrop,
scale .osd fill:backdrop,
.osd scale fill:backdrop,
progressbar .osd trough:backdrop,
.osd progressbar trough:backdrop,
/**/
popover scale trough:backdrop,
popover scale fill:backdrop,
popover progressbar trough:backdrop,
/**/
dialog scale trough:backdrop,
dialog scale fill:backdrop,
dialog progressbar trough:backdrop {

  background-image: image(@trough_osd_bkdp);
  border-color: alpha(@trough_osd_bkdp_brd, 0.25);
  }

/*--------------------
HEADERBARs, ACTIONBARs & ROWs
--------------------*/

/* *** TROUGHS *** */

headerbar scale trough,
headerbar scale fill,
headerbar progressbar trough,
headerbar levelbar block.empty,
/**/
actionbar > revealer > box scale trough,
actionbar > revealer > box scale fill,
actionbar > revealer > box progressbar trough,
actionbar > revealer > box levelbar block.empty,
/**/
scrolledwindow.frame list row scale trough,
scrolledwindow.frame list row scale fill,
scrolledwindow.frame list row progressbar trough,
scrolledwindow.frame list row levelbar block.empty,
/**/
list row scale trough,
list row scale fill,
list row progressbar trough,
list row levelbar block.empty,
/**/
row.activatable:focus scale trough,
row.activatable:focus scale fill,
row.activatable:focus progressbar trough,
row.activatable:focus levelbar block.empty {

  background-image: image(@trough_hbar);
  border-color: alpha(@trough_hbar_brd, 0.95);
  }

/*DIS*/
headerbar scale trough:disabled,
headerbar scale trough:disabled:backdrop,
headerbar scale fill:disabled,
headerbar scale fill:disabled:backdrop,
headerbar progressbar trough:disabled,
headerbar progressbar trough:disabled:backdrop,
headerbar levelbar block.empty:disabled,
headerbar levelbar block.empty:disabled:backdrop,
/**/
actionbar > revealer > box scale trough:disabled,
actionbar > revealer > box scale trough:disabled:backdrop,
actionbar > revealer > box scale fill:disabled,
actionbar > revealer > box scale fill:disabled:backdrop,
actionbar > revealer > box progressbar trough:disabled,
actionbar > revealer > box progressbar trough:disabled:backdrop,
actionbar > revealer > box levelbar block.empty:disabled,
actionbar > revealer > box levelbar block.empty:disabled:backdrop,
/**/
scrolledwindow.frame list row scale trough:disabled,
scrolledwindow.frame list row scale trough:disabled:backdrop,
scrolledwindow.frame list row scale fill:disabled,
scrolledwindow.frame list row scale fill:disabled:backdrop,
scrolledwindow.frame list row progressbar trough:disabled,
scrolledwindow.frame list row progressbar trough:disabled:backdrop,
scrolledwindow.frame list row levelbar block.empty:disabled,
scrolledwindow.frame list row levelbar block.empty:disabled:backdrop,
/**/
list row scale trough:disabled,
list row scale trough:disabled:backdrop,
list row scale fill:disabled,
list row scale fill:disabled:backdrop,
list row progressbar trough:disabled,
list row progressbar trough:disabled:backdrop,
list row levelbar block.empty:disabled,
list row levelbar block.empty:disabled:backdrop,
/**/
row.activatable:focus scale trough:disabled,
row.activatable:focus scale trough:disabled:backdrop,
row.activatable:focus scale fill:disabled,
row.activatable:focus scale fill:disabled:backdrop,
row.activatable:focus progressbar trough:disabled,
row.activatable:focus progressbar trough:disabled:backdrop,
row.activatable:focus levelbar block.empty:disabled,
row.activatable:focus levelbar block.empty:disabled:backdrop {

  background-image: image(@trough_hbar_dis);
  border-color: alpha(@trough_hbar_dis_brd, 0.25);
  }

/*BKDP*/
headerbar scale trough:backdrop,
headerbar scale fill:backdrop,
headerbar progressbar trough:backdrop,
headerbar levelbar block.empty:backdrop,
/**/
actionbar > revealer > box scale trough:backdrop,
actionbar > revealer > box scale fill:backdrop,
actionbar > revealer > box progressbar trough:backdrop,
actionbar > revealer > box levelbar block.empty:backdrop,
/**/
scrolledwindow.frame list row scale trough:backdrop,
scrolledwindow.frame list row scale fill:backdrop,
scrolledwindow.frame list row progressbar trough:backdrop,
scrolledwindow.frame list row levelbar block.empty:backdrop,
/**/
list row scale trough:backdrop,
list row scale fill:backdrop,
list row progressbar trough:backdrop,
list row levelbar block.empty:backdrop,
/**/
row.activatable:focus scale trough:backdrop,
row.activatable:focus scale fill:backdrop,
row.activatable:focus progressbar trough:backdrop,
row.activatable:focus levelbar block.empty:backdrop {

  background-image: image(@trough_hbar_bkdp);
  border-color: alpha(@trough_hbar_bkdp_brd, 0.25);
  }

/*----------------------------------------
	    TXT & INDICATORS
----------------------------------------*/

scale marks,
scale value,
progressbar {

  font-feature-settings: "tnum";
  }

scale value,
scale mark indicator,
progressbar text {
  
  color: @txt_dim;
  text-shadow: 0 0 0.0625rem @txt_dim_shdw_small,
  0 0 0.134375rem @txt_dim_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dim_shdw_small,
  0 0 0.134375rem @icon_dim_shdw_wide;
  }

progressbar text {
  
  font-size: 0.95rem;
  }

/*DIS & BKDP*/
scale:disabled value,
scale:disabled mark indicator,
progressbar:disabled text,
scale:backdrop value,
scale:backdrop mark indicator,
progressbar:backdrop text {
  
  color: @txt_dis;
  text-shadow: 0 0 0.0625rem @txt_dis_shdw_small,
  0 0 0.134375rem @txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  }

/*SCALE HRZ*/
scale.horizontal mark indicator {

  min-height: 0.425rem;
  min-width: 0.0625rem;
  }

/*SCALE VERT*/
scale.vertical mark indicator {

  min-height: 0.0625rem;
  min-width: 0.425rem;
  }

