/*----------------------------------------
| copyright 2022 gom 
| <gom@disroot.org>
| https://codeberg.org/gom/
----------------------------------------*/

/*----------------------------------------
| This file is part of the temperantia GTK theme.

| The temperantia GTK theme is free software: you can redistribute it 
| and/or modify it under the terms of the GNU General Public License 
| as published by the Free Software Foundation, either version 3 of the License, 
| or (at your option) any later version.

| The temperantia GTK theme is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.

| You should have received a copy of the GNU General Public License
| along with the temperantia GTK theme. If not, see http://www.gnu.org/licenses/
----------------------------------------*/

/*----------------------------------------
		TERMINAL
----------------------------------------*/

/*--------------------
	BASE
--------------------*/

terminal-window.background.csd {

  -GtkTextView-error-underline-color: @raspberry_300;
  -gtk-secondary-caret-color: @term_accent_lght;
  -gtk-icon-palette: warning @amber_100, success @moss_100, error @raspberry_350;
  }

terminal-window.background.csd,
.tilix-terminal-title,
.terminal-titlebar,
.tilix-background,
.tilix-notification-count,
headerbar.tilix-embedded-headerbar,
frame.tilix-search-frame,
.tilix-terminal-scrolledwindow {

  text-shadow: none;
  -gtk-icon-shadow: none;
  }

/*--------------------
   WINDOW & SCREEN
--------------------*/

terminal-window.background.csd,
vte-terminal:not(.terminal),
.terminal-titlebar,
.tilix-background,
terminal-screen-container,
terminal-screen-container > box.horizontal,
terminal-window.background.csd menubar,
terminal-window.background.csd notebook {

  background-color: @term_scr;
  background-image: image(@term_scr);
  color: @term_txt_main;
  }

terminal-window.background.csd menubar {

  border: 0 none rgba(0, 0, 0, 0.0);
  }

terminal-window.background.csd > box.vertical,
vte-terminal:not(.terminal),
terminal-screen-container,
terminal-screen-container > box.horizontal {

  border-bottom-left-radius: 6.2px;
  border-bottom-right-radius: 6.2px;
  }

/*Padding to make the radius work + give space for text, the scrollbar, etc.*/
terminal-window.background.csd > box {

  padding: 0.34375rem;
  }

/*Tilix backgrounds*/
stack.tilix-background,
notebook.tilix-background,
box.vertical.tilix-background {

  background-color: @term_scr;
  background-image: image(@term_scr);
  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  border-bottom-left-radius: 6.2px;
  border-bottom-right-radius: 6.2px;
  }

notebook.tilix-background {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }

.tilix-notification-count {

  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/* *** TILED & MAXIMIZED *** */
terminal-window.background.csd.tiled:not(.maximized),
terminal-window.background.csd.tiled:not(.maximized) > box.vertical,
terminal-window.background.csd.tiled:not(.maximized) vte-terminal:not(.terminal),
terminal-window.background.csd.tiled:not(.maximized) terminal-screen-container,
terminal-window.background.csd.tiled:not(.maximized) terminal-screen-container > box.horizontal,
terminal-window.background.csd.tiled:not(.maximized) notebook,
/**/
terminal-window.background.csd.maximized,
terminal-window.background.csd.maximized > box.vertical,
terminal-window.background.csd.maximized vte-terminal:not(.terminal)
terminal-window.background.csd.maximized terminal-screen-container,
terminal-window.background.csd.maximized terminal-screen-container > box.horizontal,
terminal-window.background.csd.maximized notebook,
/**/
.tiled:not(.maximized) .tilix-background,
.maximized .tilix-background {

  border-bottom-left-radius: 6.2px;
  border-bottom-right-radius: 6.2px;
  }

/* *** FULLSCREEN *** */
terminal-window.background.csd.fullscreen,
terminal-window.background.csd.fullscreen > box.vertical,
terminal-window.background.csd.fullscreen vte-terminal:not(.terminal),
terminal-window.background.csd.fullscreen terminal-screen-container,
terminal-window.background.csd.fullscreen terminal-screen-container > box.horizontal,
terminal-window.background.csd.fullscreen notebook,
.fullscreen .tilix-background {

  border-radius: 6.2px;
  }

/*--------------------
  WINDOW DECORATION
--------------------*/

/* *** PLAIN, MAX & TILED *** */

terminal-window.background.csd > decoration,
terminal-window.background.csd.maximized > decoration,
terminal-window.background.csd.tiled:not(.maximized) > decoration {

  border-radius: 6.2px;
  box-shadow: 0 0 0 0.0625rem @term_scr,
  0 0.75rem 1.5rem @deco_shdw,
  0 0.5rem 0.5rem alpha(@deco_shdw, 0.4);
  } 

/*BKDP*/
terminal-window.background.csd > decoration:backdrop,
terminal-window.background.csd.maximized > decoration:backdrop,
terminal-window.background.csd.tiled:not(.maximized) > decoration:backdrop {

  border-radius: 6.2px;
  box-shadow: 0 0 0 0.0625rem alpha(@term_scr, 0.8),
  0 0.75rem 1.5rem @deco_shdw_bkdp,
  0 0.5rem 0.5rem alpha(@deco_shdw_bkdp, 0.4);
  }

/*FULLSCREEN*/
terminal-window.background.csd.fullscreen > decoration,
terminal-window.background.csd.fullscreen > decoration:backdrop {

  border-radius: 6.2px;
  box-shadow: 0 0 0 0.0625rem @term_scr;
  }

/*--------------------
  POPOVERS & MENUS
--------------------*/

/* *** POPOVERS *** */

terminal-window.background.csd popover.background,
terminal-window.background.csd popover.background:backdrop,
terminal-window.background.csd popover.background.menu,
terminal-window.background.csd popover.background.menu:backdrop {

  background-image: linear-gradient(to bottom right, @term_po_top, @term_po_btm);
  color: @term_txt_main;
  border-color: shade(@term_po_btm, 0.6);
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: 0 0.03125rem 0.5rem alpha(@base_shdw_drk, 0.35);
  }

/*BKDP*/
terminal-window.background.csd popover.background:backdrop,
terminal-window.background.csd popover.background.menu:backdrop {

  box-shadow: 0 0.03125rem 0.5rem alpha(@base_shdw_drk, 0.2);
  }

/* *** POPUPS & MENUS *** */

terminal-window.background.csd .popup.background,
terminal-window.background.csd .popup.background:backdrop,
terminal-window.background.csd .background.popup,
terminal-window.background.csd .background.popup:backdrop {

  background-image: linear-gradient(to bottom right, @term_po_top, @term_po_btm);
  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

terminal-window.background.csd .popup.background > decoration,
terminal-window.background.csd .background.popup > decoration {

  box-shadow: 0 0.03125rem 0.625rem alpha(@base_shdw_drk, 0.35),
  0 0 0 0.0625rem shade(@term_po_btm, 0.6);
  }

terminal-window.background.csd .popup.background > decoration:backdrop,
terminal-window.background.csd .background.popup > decoration:backdrop {

  box-shadow: 0 0.03125rem 0.625rem alpha(@base_shdw_drk, 0.2),
  0 0 0 0.0625rem shade(@term_po_btm, 0.6);
  }

/* *** COMMON - BKDP *** */

terminal-window.background.csd popover.background:backdrop,
terminal-window.background.csd popover.background.menu:backdrop,
terminal-window.background.csd .popup.background:backdrop,
terminal-window.background.csd .background.popup:backdrop {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*--------------------
      HEADERBAR
--------------------*/

/*PLAIN & BKDP*/
terminal-window.background.csd > headerbar.titlebar,
terminal-window.background.csd > headerbar.titlebar:backdrop,
headerbar.tilix-embedded-headerbar,
headerbar.tilix-embedded-headerbar:backdrop {

  background-color: @term_scr;
  background-image: none;
  border-color: @term_scr;
  border-radius: 6.2px 6.2px 0 0;
  }

/*TILED, MAX & FULLSCREEN*/
terminal-window.background.csd.tiled:not(.maximized) headerbar.titlebar,
terminal-window.background.csd.tiled:not(.maximized) headerbar.titlebar:backdrop,
terminal-window.background.csd.tiled:not(.maximized) > headerbar.titlebar,
terminal-window.background.csd.tiled:not(.maximized) > headerbar.titlebar:backdrop,
/**/
terminal-window.background.csd.maximized headerbar.titlebar,
terminal-window.background.csd.maximized headerbar.titlebar:backdrop,
terminal-window.background.csd.maximized > headerbar.titlebar,
terminal-window.background.csd.maximized > headerbar.titlebar:backdrop,
/**/
terminal-window.background.csd.fullscreen headerbar.titlebar,
terminal-window.background.csd.fullscreen headerbar.titlebar:backdrop,
terminal-window.background.csd.fullscreen > headerbar.titlebar,
terminal-window.background.csd.fullscreen > headerbar.titlebar:backdrop {

  border-radius: 6.2px 6.2px 0 0;
  }

/* *** TITLEs *** */
terminal-window.background.csd > headerbar.titlebar .title:not(.flat):not(.toggle):not(.text-button):not(.image-button),
terminal-window.background.csd > headerbar.titlebar .subtitle {

  color: @term_txt_dim;
  padding: 0;
  text-shadow: 0 0 0.0625rem @term_txt_dim_shdw_small,
  0 0 0.134375rem @term_txt_dim_shdw_wide;
  }

/*BKDP*/
terminal-window.background.csd > headerbar.titlebar .title:not(.flat):not(.toggle):not(.text-button):not(.image-button):backdrop,
terminal-window.background.csd > headerbar.titlebar .subtitle:backdrop {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  }

/*--------------------
      BUTTONS
--------------------*/

/* *** REGULAR, POPOVER & HEADERBAR *** */

/*PLAIN*/
terminal-window.background.csd button:not(.flat),
terminal-window.background.csd popover button:not(.flat),
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton),
.tilix-background button:not(.flat),
headerbar.tilix-embedded-headerbar button:not(.flat) {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: linear-gradient(to bottom, @term_btn_top, @term_btn_btm);  
  color: @term_txt_main;
  border-color: @term_btn_brd;  
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_shdw;
  }

/*Tilix terminal titlebar small flat btns*/
.terminal-titlebar > button.flat.image-button {

  background-origin: padding-box;
  background-clip: padding-box;
  background-position: center center;
  margin: 0.1875rem;
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  }

/*FOC*/
terminal-window.background.csd button:not(.flat):focus,
terminal-window.background.csd popover button:not(.flat):focus,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):focus,
.tilix-background button:not(.flat):focus,
headerbar.tilix-embedded-headerbar button:not(.flat):focus {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@term_btn_hov_foc);  
  color: @term_txt_main_2;
  border-color: @term_btn_hov_foc_brd;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_hov_foc_shdw;
  }

/*HOV*/
terminal-window.background.csd button:not(.flat):hover,
terminal-window.background.csd popover button:not(.flat):hover,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):hover,
.tilix-background button:not(.flat):hover,
headerbar.tilix-embedded-headerbar button:not(.flat):hover {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@term_btn_hov_foc);  
  color: @term_txt_main_2;
  border-color: @term_btn_hov_foc_brd;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_shdw;
  }

/*ACT & CHKD*/
terminal-window.background.csd button:not(.flat):active,
terminal-window.background.csd button:not(.flat):checked,
terminal-window.background.csd popover button:not(.flat):active,
terminal-window.background.csd popover button:not(.flat):checked,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):active,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):checked,
.tilix-background button:not(.flat):active,
.tilix-background button:not(.flat):checked,
.tilix-background button.toggle:not(.flat):active,
.tilix-background button.toggle:not(.flat):checked,
.tilix-background button.popup toggle:not(.flat):active,
.tilix-background button.popup toggle:not(.flat):checked,
headerbar.tilix-embedded-headerbar button:not(.flat):active,
headerbar.tilix-embedded-headerbar button:not(.flat):checked,
headerbar.tilix-embedded-headerbar button.toggle:not(.flat):not(.suggested-action):not(.destructive-action):not(.titlebutton):active,
headerbar.tilix-embedded-headerbar button.toggle:not(.flat):not(.suggested-action):not(.destructive-action):not(.titlebutton):checked {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(@term_btn_chk);
  color: @term_txt_main;
  border-color: @term_btn_chk_brd;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_shdw;
  }

/*DIS & BKDP*/
terminal-window.background.csd button:not(.flat):disabled,
terminal-window.background.csd button:not(.flat):backdrop,
terminal-window.background.csd button:not(.flat):backdrop:disabled,
terminal-window.background.csd popover button:not(.flat):disabled,
terminal-window.background.csd popover button:not(.flat):backdrop,
terminal-window.background.csd popover button:not(.flat):backdrop:disabled,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):disabled,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):backdrop,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):backdrop:disabled,
.tilix-background button:not(.flat):backdrop,
.tilix-background button:not(.flat):disabled,
.tilix-background button:not(.flat):backdrop:disabled,
headerbar.tilix-embedded-headerbar button:not(.flat):backdrop,
headerbar.tilix-embedded-headerbar button:not(.flat):disabled,
headerbar.tilix-embedded-headerbar button:not(.flat):backdrop:disabled,
headerbar.tilix-embedded-headerbar button.toggle:not(.suggested-action):not(.destructive-action):not(.titlebutton):checked:backdrop {

  background-image: image(@term_btn_dis);
  color: @term_btn_dis_txt;
  border-color: @term_btn_dis_brd;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*BKDP-HOV*/
terminal-window.background.csd button:not(.flat):backdrop:hover,
terminal-window.background.csd popover button:not(.flat):backdrop:hover,
terminal-window.background.csd > headerbar.titlebar button:not(.flat):not(.titlebutton):backdrop:hover,
.tilix-background button:not(.flat):backdrop:hover,
headerbar.tilix-embedded-headerbar button:not(.flat):backdrop:hover {

  background-image: image(@term_btn_btm);
  color: @term_btn_dis_txt;
  border-color: @term_btn_dis;
  box-shadow: 0 0 0.1875rem 0 @term_btn_shdw;
  }

/* *** FLAT *** */

/*PLAIN*/
terminal-window.background.csd button.flat,
.tilix-background button.flat,
headerbar.tilix-embedded-headerbar button.flat {

  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/*FOC*/
terminal-window.background.csd button.flat:focus,
.tilix-background button.flat:focus,
headerbar.tilix-embedded-headerbar button.flat:focus {

  outline-color: alpha(@term_accent_lght, 0.75);
  }

/*HOV*/
terminal-window.background.csd button.flat:hover,
.tilix-background button.flat:hover,
headerbar.tilix-embedded-headerbar button.flat:hover {

  background-color: alpha(@term_txt_main, 0.25);
  }

/*ACT*/
terminal-window.background.csd button.flat:active,
.tilix-background button.flat:active,
headerbar.tilix-embedded-headerbar button.flat:active {

  background-color: alpha(@term_txt_main, 0.45);
  color: @term_txt_main_2;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem shade(@term_txt_main, 0.6);
  }

/*CHKD*/
terminal-window.background.csd button.flat:checked,
.tilix-background button.flat:checked,
headerbar.tilix-embedded-headerbar button.flat:checked {

  background-color: alpha(@term_txt_main, 0.83);
  color: @term_scr;
  text-shadow: 0 0 0.0625rem @term_txt_flt_shdw_small,
  0 0 0.134375rem @term_txt_flt_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_flt_shdw_small,
  0 0 0.134375rem @term_icon_flt_shdw_small;
  box-shadow: inset 0 0 0 0.0625rem shade(@term_txt_main, 0.6);
  }

/*ACT- & CHKD-FOC*/
terminal-window.background.csd button.flat:active:focus,
.tilix-background button.flat:active:focus,
headerbar.tilix-embedded-headerbar button.flat:active:focus,
/**/
terminal-window.background.csd button.flat:checked:focus,
.tilix-background button.flat:checked:focus,
headerbar.tilix-embedded-headerbar button.flat:checked:focus {

  outline-color: @term_accent_lght;
  }

/*DIS & BKDP*/
terminal-window.background.csd button.flat:disabled,
terminal-window.background.csd button.flat:backdrop,
terminal-window.background.csd button.flat:backdrop:disabled,
.tilix-background button.flat:disabled,
.tilix-background button.flat:backdrop,
.tilix-background button.flat:backdrop:disabled,
headerbar.tilix-embedded-headerbar button.flat:disabled,
headerbar.tilix-embedded-headerbar button.flat:backdrop,
headerbar.tilix-embedded-headerbar button.flat:backdrop:disabled {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*BKDP-HOV*/
terminal-window.background.csd button.flat:backdrop:hover,
.tilix-background button.flat:backdrop:hover,
headerbar.tilix-embedded-headerbar button.flat:backdrop:hover {

  background-color: alpha(@term_txt_main, 0.15);
  }

/*BKDP-ACT & -CHKD*/
terminal-window.background.csd button.flat:backdrop:active,
terminal-window.background.csd button.flat:backdrop:checked,
.tilix-background button.flat:backdrop:active,
.tilix-background button.flat:backdrop:checked,
headerbar.tilix-embedded-headerbar button.flat:backdrop:active,
headerbar.tilix-embedded-headerbar button.flat:backdrop:checked {

  background-color: alpha(@term_txt_main, 0.25);
  text-shadow: 0 0 0.0625rem @term_txt_flt_bkdp_chk_shdw_small,
  0 0 0.134375rem @term_txt_flt_bkdp_chk_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_flt_bkdp_chk_shdw_small,
  0 0 0.134375rem @term_icon_flt_bkdp_chk_shdw_wide;
  box-shadow: 0 0 0 0.0625rem alpha(@term_txt_main, 0.25);
  }

/*--------------------
  LINKED ADJUSTMENTS
--------------------*/

/* *** VERT *** */

/*PLAIN*/
terminal-window.background.csd .linked.vertical > entry:not(:disabled) + entry:not(:disabled),
terminal-window.background.csd .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical),
terminal-window.background.csd .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled),
terminal-window.background.csd .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical),
/**/
terminal-window.background.csd .vertical.linked > entry:not(:disabled) + entry:not(:disabled),
terminal-window.background.csd .vertical.linked > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical),
terminal-window.background.csd .vertical.linked > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled),
terminal-window.background.csd .vertical.linked > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical),
/*Tilix*/
.tilix-background .linked.vertical > entry:not(:disabled) + entry:not(:disabled),
.tilix-background .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical),
.tilix-background .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled),
.tilix-background .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical),
/**/
.tilix-background .vertical.linked > entry:not(:disabled) + entry:not(:disabled),
.tilix-background .vertical.linked > entry:not(:disabled) + spinbutton:not(:disabled):not(.vertical),
.tilix-background .vertical.linked > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled),
.tilix-background .vertical.linked > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):not(.vertical) {

  border-top-color: @term_btn_brd;
  }

/*DIS & BKDP*/
terminal-window.background.csd .linked.vertical > entry:disabled + spinbutton:disabled:not(.vertical), 
terminal-window.background.csd .linked.vertical > entry:disabled + entry:disabled,
terminal-window.background.csd .linked.vertical > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical),
terminal-window.background.csd .linked.vertical > spinbutton:disabled:not(.vertical) + entry:disabled,
/**/
terminal-window.background.csd .vertical.linked > entry:disabled + spinbutton:disabled:not(.vertical), 
terminal-window.background.csd .vertical.linked > entry:disabled + entry:disabled,
terminal-window.background.csd .vertical.linked > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical),
terminal-window.background.csd .vertical.linked > spinbutton:disabled:not(.vertical) + entry:disabled,
/*BKDP*/
terminal-window.background.csd .linked.vertical > entry:not(:disabled) + entry:not(:disabled):backdrop,
terminal-window.background.csd .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical),
terminal-window.background.csd .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop,
terminal-window.background.csd .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical),
/**/
terminal-window.background.csd .vertical.linked > entry:not(:disabled) + entry:not(:disabled):backdrop,
terminal-window.background.csd .vertical.linked > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical),
terminal-window.background.csd .vertical.linked > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop,
terminal-window.background.csd .vertical.linked > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical),
/*Tilix*/
.tilix-background .linked.vertical > entry:disabled + spinbutton:disabled:not(.vertical), 
.tilix-background .linked.vertical > entry:disabled + entry:disabled,
.tilix-background .linked.vertical > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical),
.tilix-background .linked.vertical > spinbutton:disabled:not(.vertical) + entry:disabled,
/**/
.tilix-background .vertical.linked > entry:disabled + spinbutton:disabled:not(.vertical), 
.tilix-background .vertical.linked > entry:disabled + entry:disabled,
.tilix-background .vertical.linked > spinbutton:disabled:not(.vertical) + spinbutton:disabled:not(.vertical),
.tilix-background .vertical.linked > spinbutton:disabled:not(.vertical) + entry:disabled,
/*BKDP*/
.tilix-background .linked.vertical > entry:not(:disabled) + entry:not(:disabled):backdrop,
.tilix-background .linked.vertical > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical),
.tilix-background .linked.vertical > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop,
.tilix-background .linked.vertical > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical),
/**/
.tilix-background .vertical.linked > entry:not(:disabled) + entry:not(:disabled):backdrop,
.tilix-background .vertical.linked > entry:not(:disabled) + spinbutton:not(:disabled):backdrop:not(.vertical),
.tilix-background .vertical.linked > spinbutton:not(:disabled):not(.vertical) + entry:not(:disabled):backdrop,
.tilix-background .vertical.linked > spinbutton:not(:disabled):not(.vertical) + spinbutton:not(:disabled):backdrop:not(.vertical) {

  border-top-color: @term_btn_dis_brd;
  }

/*FOC*/
terminal-window.background.csd .linked.vertical > entry + entry:focus:not(:only-child),
terminal-window.background.csd .linked.vertical > entry:focus:not(:only-child) + entry,
terminal-window.background.csd .linked.vertical > entry + spinbutton:focus:not(:only-child):not(.vertical),
terminal-window.background.csd .linked.vertical > entry:focus:not(:only-child) + spinbutton:not(.vertical),
terminal-window.background.csd .linked.vertical > entry:focus:not(:only-child) + button,
terminal-window.background.csd .linked.vertical > entry:focus:not(:only-child) + combobox > box > button.combo,
terminal-window.background.csd .linked.vertical > spinbutton:not(.vertical) + entry:focus:not(:only-child),
terminal-window.background.csd .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + entry,
terminal-window.background.csd .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
terminal-window.background.csd .linked.vertical > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
terminal-window.background.csd .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + button,
terminal-window.background.csd .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo,
/**/
terminal-window.background.csd .vertical.linked > entry + entry:focus:not(:only-child),
terminal-window.background.csd .vertical.linked > entry:focus:not(:only-child) + entry,
terminal-window.background.csd .vertical.linked > entry + spinbutton:focus:not(:only-child):not(.vertical),
terminal-window.background.csd .vertical.linked > entry:focus:not(:only-child) + spinbutton:not(.vertical),
terminal-window.background.csd .vertical.linked > entry:focus:not(:only-child) + button,
terminal-window.background.csd .vertical.linked > entry:focus:not(:only-child) + combobox > box > button.combo,
terminal-window.background.csd .vertical.linked > spinbutton:not(.vertical) + entry:focus:not(:only-child),
terminal-window.background.csd .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + entry,
terminal-window.background.csd .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
terminal-window.background.csd .vertical.linked > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
terminal-window.background.csd .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + button,
terminal-window.background.csd .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo,
/*Tilix*/
.tilix-background .linked.vertical > entry + entry:focus:not(:only-child),
.tilix-background .linked.vertical > entry:focus:not(:only-child) + entry,
.tilix-background .linked.vertical > entry + spinbutton:focus:not(:only-child):not(.vertical),
.tilix-background .linked.vertical > entry:focus:not(:only-child) + spinbutton:not(.vertical),
.tilix-background .linked.vertical > entry:focus:not(:only-child) + button,
.tilix-background .linked.vertical > entry:focus:not(:only-child) + combobox > box > button.combo,
.tilix-background .linked.vertical > spinbutton:not(.vertical) + entry:focus:not(:only-child),
.tilix-background .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + entry,
.tilix-background .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.tilix-background .linked.vertical > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
.tilix-background .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + button,
.tilix-background .linked.vertical > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo,
/**/
.tilix-background .vertical.linked > entry + entry:focus:not(:only-child),
.tilix-background .vertical.linked > entry:focus:not(:only-child) + entry,
.tilix-background .vertical.linked > entry + spinbutton:focus:not(:only-child):not(.vertical),
.tilix-background .vertical.linked > entry:focus:not(:only-child) + spinbutton:not(.vertical),
.tilix-background .vertical.linked > entry:focus:not(:only-child) + button,
.tilix-background .vertical.linked > entry:focus:not(:only-child) + combobox > box > button.combo,
.tilix-background .vertical.linked > spinbutton:not(.vertical) + entry:focus:not(:only-child),
.tilix-background .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + entry,
.tilix-background .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + spinbutton:not(.vertical),
.tilix-background .vertical.linked > spinbutton:not(.vertical) + spinbutton:focus:not(:only-child):not(.vertical),
.tilix-background .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + button,
.tilix-background .vertical.linked > spinbutton:focus:not(:only-child):not(.vertical) + combobox > box > button.combo {
  
  border-top-color: @term_btn_hov_foc_brd;
  }

/* *** HRZ *** */

/*FOC*/
terminal-window.background.csd .linked:not(.vertical) > entry:focus + entry,
terminal-window.background.csd .linked:not(.vertical) > entry:focus + spinbutton:not(.vertical),
terminal-window.background.csd .linked:not(.vertical) > entry:focus + button,
terminal-window.background.csd .linked:not(.vertical) > entry:focus + combobox > box > button.combo,
terminal-window.background.csd .linked:not(.vertical) > spinbutton:focus:not(.vertical) + entry
terminal-window.background.csd .linked:not(.vertical) > spinbutton:focus:not(.vertical) + spinbutton:not(.vertical),
terminal-window.background.csd .linked:not(.vertical) > spinbutton:focus:not(.vertical) + button,
terminal-window.background.csd .linked:not(.vertical) > spinbutton:focus:not(.vertical) + combobox > box > button.combo,
/*Tilix*/
.tilix-background .linked:not(.vertical) > entry:focus + entry,
.tilix-background .linked:not(.vertical) > entry:focus + spinbutton:not(.vertical),
.tilix-background .linked:not(.vertical) > entry:focus + button,
.tilix-background .linked:not(.vertical) > entry:focus + combobox > box > button.combo,
.tilix-background .linked:not(.vertical) > spinbutton:focus:not(.vertical) + entry
.tilix-background .linked:not(.vertical) > spinbutton:focus:not(.vertical) + spinbutton:not(.vertical),
.tilix-background .linked:not(.vertical) > spinbutton:focus:not(.vertical) + button,
.tilix-background .linked:not(.vertical) > spinbutton:focus:not(.vertical) + combobox > box > button.combo {

  border-left-color: @term_btn_hov_foc_brd;
  }

/*--------------------
 ENTRIES & SPINBUTTONS
--------------------*/ 

/*PLAIN & FOC*/
terminal-window.background.csd entry,
terminal-window.background.csd entry:focus,
terminal-window.background.csd spinbutton,
terminal-window.background.csd spinbutton:focus,
.tilix-background entry,
.tilix-background entry:focus,
.tilix-background spinbutton,
.tilix-background spinbutton:focus,
headerbar.tilix-embedded-headerbar entry,
headerbar.tilix-embedded-headerbar entry:focus,
headerbar.tilix-embedded-headerbar spinbutton,
headerbar.tilix-embedded-headerbar spinbutton:focus {

  background-color: @term_btn_chk;
  background-image: image(@term_btn_chk);
  color: @term_txt_main;
  border-color: @term_btn_brd;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_shdw,
  inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.0);
  }

/*FOC*/
terminal-window.background.csd entry:focus,
terminal-window.background.csd spinbutton:focus,
.tilix-background entry:focus,
.tilix-background spinbutton:focus,
headerbar.tilix-embedded-headerbar entry:focus,
headerbar.tilix-embedded-headerbar spinbutton:focus {

  color: @term_txt_main_2;
  border-color: @term_btn_hov_foc_brd;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 @term_btn_hov_foc_shdw,
  inset 0 0 0 0.0625rem @term_btn_hov_foc_brd;
  }

/*DIS & BKDP*/
terminal-window.background.csd entry:disabled,
terminal-window.background.csd entry:backdrop,
terminal-window.background.csd entry:backdrop:disabled,
terminal-window.background.csd spinbutton:disabled,
terminal-window.background.csd spinbutton:backdrop,
terminal-window.background.csd spinbutton:backdrop:disabled,
.tilix-background entry:disabled,
.tilix-background entry:backdrop,
.tilix-background entry:backdrop:disabled,
.tilix-background spinbutton:disabled,
.tilix-background spinbutton:backdrop,
.tilix-background spinbutton:backdrop:disabled,
headerbar.tilix-embedded-headerbar entry:disabled,
headerbar.tilix-embedded-headerbar entry:backdrop,
headerbar.tilix-embedded-headerbar entry:backdrop:disabled,
headerbar.tilix-embedded-headerbar spinbutton:disabled,
headerbar.tilix-embedded-headerbar spinbutton:backdrop,
headerbar.tilix-embedded-headerbar spinbutton:backdrop:disabled {

  background-color: @term_btn_dis;
  background-image: image(@term_btn_dis);
  color: @term_btn_dis_txt;
  border-color: @term_btn_dis_brd;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.0);
  }

/* *** IMGs *** */

terminal-window.background.csd entry image,
terminal-window.background.csd spinbutton image,
.tilix-background entry image,
.tilix-background spinbutton image,
headerbar.tilix-embedded-headerbar entry image,
headerbar.tilix-embedded-headerbar spinbutton image {

  color: @term_txt_dim;
  text-shadow: 0 0 0.0625rem @term_txt_dim_shdw_small,
  0 0 0.134375rem @term_txt_dim_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dim_shdw_small,
  0 0 0.134375rem @term_icon_dim_shdw_wide;
  }

/*HOV*/
terminal-window.background.csd entry image:hover,
terminal-window.background.csd entry image:active,
terminal-window.background.csd spinbutton image:hover,
terminal-window.background.csd spinbutton image:active,
.tilix-background entry image:hover,
.tilix-background entry image:active,
.tilix-background spinbutton image:hover,
.tilix-background spinbutton image:active,
headerbar.tilix-embedded-headerbar entry image:hover,
headerbar.tilix-embedded-headerbar entry image:active,
headerbar.tilix-embedded-headerbar spinbutton image:hover,
headerbar.tilix-embedded-headerbar spinbutton image:active {

  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/*DIS & BKDP*/
terminal-window.background.csd entry image:disabled,
terminal-window.background.csd spinbutton image:disabled,
terminal-window.background.csd entry image:backdrop,
terminal-window.background.csd spinbutton image:backdrop,
.tilix-background entry image:disabled,
.tilix-background spinbutton image:disabled,
.tilix-background entry image:backdrop,
.tilix-background spinbutton image:backdrop,
headerbar.tilix-embedded-headerbar entry image:disabled,
headerbar.tilix-embedded-headerbar spinbutton image:disabled,
headerbar.tilix-embedded-headerbar entry image:backdrop,
headerbar.tilix-embedded-headerbar spinbutton image:backdrop {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*--------------------
      NOTEBOOK
--------------------*/

/* *** NOTEBOOK TAB BUTTON *** */

/*BASE*/
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button {

  margin: 0.1875rem;
  border: 0 none rgba(0, 0, 0, 0.0);
  box-shadow: none;
  }

/*UNCHECKED TAB --> PLAIN*/
terminal-window.background.csd notebook > header > tabs > tab:not(:checked) > box.horizontal > button.flat,
notebook.tilix-background > header > tabs > tab:not(:checked) button.flat.image-button.tilix-small-button {

  color: alpha(@term_txt_main, 0.8);
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/*CHECKED TAB --> PLAIN*/
terminal-window.background.csd notebook > header > tabs > tab:checked > box.horizontal > button.flat,
notebook.tilix-background > header > tabs > tab:checked button.flat.image-button.tilix-small-button {

  color: alpha(@term_txt_lght, 0.8);
  text-shadow: 0 0 0.0625rem @term_txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_icon_sel_shdw_wide;
  }

/*UNCHECKED & CHECKED TAB --> HOV & FOC*/
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat:focus,
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat:hover,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button:focus,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button:hover {

  background-image: image(alpha(@term_txt_main, 0.75));
  color: @term_scr;
  text-shadow: 0 0 0.0625rem @term_txt_flt_shdw_small,
  0 0 0.134375rem @term_txt_flt_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_flt_shdw_small,
  0 0 0.134375rem @term_icon_flt_shdw_small;
  }

/*UNCHECKED & CHECKED TAB --> ACT & CHKD*/
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat:active,
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat:checked,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button:active,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button:checked {

  background-image: image(alpha(@term_txt_main, 0.93));
  color: @term_scr;
  text-shadow: 0 0 0.0625rem @term_txt_flt_shdw_small,
  0 0 0.134375rem @term_txt_flt_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_flt_shdw_small,
  0 0 0.134375rem @term_icon_flt_shdw_small;
  }

/*UNCHECKED TAB --> BKDP & DIS*/
terminal-window.background.csd notebook > header > tabs > tab:backdrop > box.horizontal > button.flat,
terminal-window.background.csd notebook > header > tabs > tab:disabled > box.horizontal > button.flat,
terminal-window.background.csd notebook > header > tabs > tab:backdrop:disabled > box.horizontal > button.flat,
notebook.tilix-background > header > tabs > tab:backdrop button.flat.image-button.tilix-small-button,
notebook.tilix-background > header > tabs > tab:disabled button.flat.image-button.tilix-small-button,
notebook.tilix-background > header > tabs > tab:backdrop:disabled button.flat.image-button.tilix-small-button {

  color: alpha(@term_txt_dis, 0.8);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*CHECKED TAB --> BKDP & DIS*/
terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop > box.horizontal > button.flat,
terminal-window.background.csd notebook > header > tabs > tab:checked:disabled > box.horizontal > button.flat,
terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop:disabled > box.horizontal > button.flat,
notebook.tilix-background > header > tabs > tab:checked:backdrop button.flat.image-button.tilix-small-button,
notebook.tilix-background > header > tabs > tab:checked:disabled button.flat.image-button.tilix-small-button,
notebook.tilix-background > header > tabs > tab:checked:backdrop:disabled button.flat.image-button.tilix-small-button {

  color: shade(@term_txt_dis, 1.2);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*UNCHECKED & CHECKED TAB --> BKDP-HOV*/
terminal-window.background.csd notebook > header > tabs > tab > box.horizontal > button.flat:backdrop:hover,
notebook.tilix-background > header > tabs > tab button.flat.image-button.tilix-small-button:backdrop:hover {

  background-image: image(alpha(@term_txt_main, 0.35));
  color: alpha(@term_scr, 0.9);
  }

/*--------------------
 ACCENT COLORED ITEMS
--------------------*/

/*PLAIN*/
terminal-window.background.csd menuitem,
/**/
terminal-window.background.csd row.activatable,
terminal-window.background.csd modelbutton.flat,
terminal-window.background.csd .menuitem.button.flat,
/**/
terminal-window.background.csd notebook > header > tabs > tab:not(:checked),
notebook.tilix-background > header > tabs > tab:not(:checked) {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  color: @term_txt_main;
  border: 0 none rgba(0, 0, 0, 0.0);
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.0);
  }

terminal-window.background.csd notebook > header > tabs > tab > box label {

  color: @term_txt_main;
  text-shadow: 0 0 0.0625rem @term_txt_main_shdw_small,
  0 0 0.134375rem @term_txt_main_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/*FOC*/
terminal-window.background.csd row.activatable:focus,
terminal-window.background.csd modelbutton.flat:focus,
terminal-window.background.csd .menuitem.button.flat:focus {

  background-image: image(@term_btn_hov_foc);
  color: @term_txt_main_2;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem @term_btn_hov_foc_brd;
  }

/*HOV & ACT*/
terminal-window.background.csd menuitem:hover,
/**/
terminal-window.background.csd row.activatable:hover,
terminal-window.background.csd row.activatable:active,
terminal-window.background.csd modelbutton.flat:hover,
terminal-window.background.csd modelbutton.flat:active,
terminal-window.background.csd .menuitem.button.flat:hover,
terminal-window.background.csd .menuitem.button.flat:active,
/**/
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):hover,
notebook.tilix-background > header > tabs > tab:not(:checked):hover {

  background-image: image(alpha(@term_accent_lght, 0.2));
  color: @term_txt_main_2;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem @term_btn_hov_foc_brd;
  }

terminal-window.background.csd notebook > header > tabs > tab:not(:checked):hover > box label {

  color: @term_txt_main_2;
  text-shadow: 0 0 0.0625rem @term_txt_main_2_shdw_small,
  0 0 0.134375rem @term_txt_main_2_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  }

/*CKHD/ACT & SEL*/
terminal-window.background.csd row.activatable:selected,
terminal-window.background.csd modelbutton.flat:selected,
terminal-window.background.csd .menuitem.button.flat:selected,
/**/
terminal-window.background.csd selection,
.tilix-background selection,
headerbar.tilix-embedded-headerbar selection,
/**/
terminal-window.background.csd notebook > header > tabs > tab:active,
terminal-window.background.csd notebook > header > tabs > tab:checked,
notebook.tilix-background > header > tabs > tab:active,
notebook.tilix-background > header > tabs > tab:checked {

  background-image: linear-gradient(to bottom, @term_accent_main, @term_accent_drk);
  color: @term_txt_lght;
  text-shadow: 0 0 0.0625rem @term_txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_icon_sel_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem @term_accent_drk;
  }

terminal-window.background.csd notebook > header > tabs > tab:checked > box label {

  color: @term_txt_lght;
  text-shadow: 0 0 0.0625rem @term_txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_icon_sel_shdw_wide;
  }

/*BKDP & DIS*/
terminal-window.background.csd menuitem:backdrop,
terminal-window.background.csd menuitem:disabled,
terminal-window.background.csd menuitem:backdrop:disabled,
/**/
terminal-window.background.csd row:not(:selected):backdrop,
terminal-window.background.csd row:disabled,
terminal-window.background.csd row:backdrop:disabled,
terminal-window.background.csd row.activatable:not(:selected):backdrop,
terminal-window.background.csd row.activatable:disabled,
terminal-window.background.csd row.activatable:backdrop:disabled,
terminal-window.background.csd modelbutton.flat:not(:selected):backdrop,
terminal-window.background.csd modelbutton.flat:disabled,
terminal-window.background.csd modelbutton.flat:backdrop:disabled,
terminal-window.background.csd .menuitem.button.flat:not(:selected):backdrop,
terminal-window.background.csd .menuitem.button.flat:disabled,
terminal-window.background.csd .menuitem.button.flat:backdrop:disabled,
/**/
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop,
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):disabled,
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop:disabled,
notebook.tilix-background > header > tabs > tab:not(:checked):backdrop,
notebook.tilix-background > header > tabs > tab:not(:checked):disabled,
notebook.tilix-background > header > tabs > tab:not(:checked):backdrop:disabled {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.0);
  }

terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop > box label,
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):disabled > box label,
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop:disabled > box label {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.0);
  }

/*UNCHKD BKDP-HOV*/
terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop:hover,
notebook.tilix-background > header > tabs > tab:not(:checked):backdrop:hover {

  background-image: image(alpha(@term_btn_btm, 0.4));
  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem alpha(@term_accent_drk, 0.6);
  }

terminal-window.background.csd notebook > header > tabs > tab:not(:checked):backdrop:hover > box label {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*CHKD & SEL DIS*/
terminal-window.background.csd row.activatable:disabled:selected,
terminal-window.background.csd row.activatable:backdrop:disabled:selected,
terminal-window.background.csd modelbutton.flat:disabled:selected,
terminal-window.background.csd modelbutton.flat:backdrop:disabled:selected,
terminal-window.background.csd .menuitem.button.flat:disabled:selected,
terminal-window.background.csd .menuitem.button.flat:backdrop:disabled:selected,
/**/
terminal-window.background.csd notebook > header > tabs > tab:checked:disabled,
terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop:disabled,
notebook.tilix-background > header > tabs > tab:checked:disabled,
notebook.tilix-background > header > tabs > tab:checked:backdrop:disabled,
/**/
terminal-window.background.csd selection:disabled,
terminal-window.background.csd selection:disabled:focus,
terminal-window.background.csd selection:backdrop:disabled,
terminal-window.background.csd selection:backdrop:disabled:focus,
.tilix-background selection:disabled,
.tilix-background selection:disabled:focus,
.tilix-background selection:backdrop:disabled,
.tilix-background selection:backdrop:disabled:focus,
headerbar.tilix-embedded-headerbar selection:disabled,
headerbar.tilix-embedded-headerbar selection:disabled:focus,
headerbar.tilix-embedded-headerbar selection:backdrop:disabled,
headerbar.tilix-embedded-headerbar selection:backdrop:disabled:focus {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(alpha(@term_accent_drk, 0.75));
  color: shade(@term_txt_dis, 1.4);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem alpha(shade(@term_accent_drk, 0.8), 0.4);
  }

terminal-window.background.csd notebook > header > tabs > tab:checked:disabled > box label,
terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop:disabled > box label {

  color: shade(@term_txt_dis, 1.4);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*CHKD & SEL BKDP*/
terminal-window.background.csd row.activatable:backdrop:selected,
terminal-window.background.csd row.activatable:backdrop:selected:hover,
terminal-window.background.csd modelbutton.flat:backdrop:selected,
terminal-window.background.csd modelbutton.flat:backdrop:selected:hover,
terminal-window.background.csd .menuitem.button.flat:backdrop:selected,
terminal-window.background.csd .menuitem.button.flat:backdrop:selected:hover,
/**/
terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop,
notebook.tilix-background > header > tabs > tab:checked:backdrop,
/**/
terminal-window.background.csd selection:backdrop,
terminal-window.background.csd selection:backdrop:focus,
.tilix-background selection:backdrop,
.tilix-background selection:backdrop:focus,
headerbar.tilix-embedded-headerbar selection:backdrop,
headerbar.tilix-embedded-headerbar selection:backdrop:focus {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: image(alpha(shade(@term_accent_main, 1.05), 0.75));
  color: shade(@term_txt_dis, 1.4);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0 0.0625rem alpha(shade(@term_accent_drk, 0.8), 0.4);
  }

terminal-window.background.csd notebook > header > tabs > tab:checked:backdrop > box label {

  color: shade(@term_txt_dis, 1.4);
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*--------------------
  EXPANDERS & ARROWS
--------------------*/

terminal-window.background.csd expander title > arrow,
terminal-window.background.csd menu > arrow,
terminal-window.background.csd .menu > arrow,
terminal-window.background.csd .context-menu > arrow,
terminal-window.background.csd menu menuitem arrow,
terminal-window.background.csd .menu menuitem arrow,
terminal-window.background.csd .context-menu menuitem arrow,
terminal-window.background.csd modelbutton.flat arrow {

  color: @term_txt_main;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  }

/*NOTEBOOK ARROWS - PLAIN, FOC, ACT*/
notebook.tilix-background > header > tabs > arrow,
notebook.tilix-background > header > tabs > arrow:focus,
notebook.tilix-background > header > tabs > arrow:active:focus,
notebook.tilix-background > header > tabs > arrow:checked:focus,
notebook.tilix-background > header > tabs > arrow:active,
terminal-window.background.csd notebook > header > tabs > arrow,
terminal-window.background.csd notebook > header > tabs > arrow:focus,
terminal-window.background.csd notebook > header > tabs > arrow:active:focus,
terminal-window.background.csd notebook > header > tabs > arrow:checked:focus,
terminal-window.background.csd notebook > header > tabs > arrow:active {

  color: @term_txt_dim;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dim_shdw_small,
  0 0 0.134375rem @term_icon_dim_shdw_wide;
  }

/*HOV*/
notebook.tilix-background > header > tabs > arrow:hover,
terminal-window.background.csd notebook > header > tabs > arrow:hover,
notebook.tilix-background > header > tabs > arrow:checked,
terminal-window.background.csd notebook > header > tabs > arrow:checked {

  color: @term_txt_main_2;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_2_shdw_small,
  0 0 0.134375rem @term_icon_main_2_shdw_wide;
  }

/*DIS & BKDP*/
terminal-window.background.csd expander title > arrow:disabled,
terminal-window.background.csd expander title > arrow:backdrop,
terminal-window.background.csd expander title > arrow:backdrop:disabled,
terminal-window.background.csd menu > arrow:disabled,
terminal-window.background.csd menu > arrow:backdrop,
terminal-window.background.csd menu > arrow:backdrop:disabled,
terminal-window.background.csd .menu > arrow:disabled,
terminal-window.background.csd .menu > arrow:backdrop,
terminal-window.background.csd .menu > arrow:backdrop:disabled,
terminal-window.background.csd .context-menu > arrow:disabled,
terminal-window.background.csd .context-menu > arrow:backdrop,
terminal-window.background.csd .context-menu > arrow:backdrop:disabled,
terminal-window.background.csd menu menuitem arrow:disabled,
terminal-window.background.csd menu menuitem arrow:backdrop,
terminal-window.background.csd menu menuitem arrow:backdrop:disabled,
terminal-window.background.csd .menu menuitem arrow:disabled,
terminal-window.background.csd .menu menuitem arrow:backdrop,
terminal-window.background.csd .menu menuitem arrow:backdrop:disabled,
terminal-window.background.csd .context-menu menuitem arrow:disabled,
terminal-window.background.csd .context-menu menuitem arrow:backdrop,
terminal-window.background.csd .context-menu menuitem arrow:backdrop:disabled,
terminal-window.background.csd modelbutton.flat arrow:disabled,
terminal-window.background.csd modelbutton.flat arrow:backdrop,
terminal-window.background.csd modelbutton.flat arrow:backdrop:disabled,
notebook.tilix-background > header > tabs > arrow:backdrop,
notebook.tilix-background > header > tabs > arrow:disabled,
notebook.tilix-background > header > tabs > arrow:backdrop:checked,
notebook.tilix-background > header > tabs > arrow:disabled:checked,
terminal-window.background.csd notebook > header > tabs > arrow:backdrop,
terminal-window.background.csd notebook > header > tabs > arrow:disabled,
terminal-window.background.csd notebook > header > tabs > arrow:backdrop:checked,
terminal-window.background.csd notebook > header > tabs > arrow:disabled:checked {

  color: @term_txt_dis;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/* *** ROWS & MODELBTNs adjustments *** */

/*SEL*/
terminal-window.background.csd row.activatable:selected expander title > arrow,
terminal-window.background.csd modelbutton.flat:selected arrow {
  
  color: @term_txt_lght;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 0 0.134375rem @term_icon_sel_shdw_small;
  }

/*BKDP & DIS*/
terminal-window.background.csd row.activatable:disabled:selected expander title > arrow,
terminal-window.background.csd row.activatable:disabled:selected expander title > arrow:hover,
terminal-window.background.csd row.activatable:backdrop:disabled:selected expander title > arrow,
terminal-window.background.csd row.activatable:backdrop:disabled:selected expander title > arrow:hover,
terminal-window.background.csd row.activatable:backdrop:selected expander title > arrow,
terminal-window.background.csd row.activatable:backdrop:selected expander title > arrow:hover,
terminal-window.background.csd row.activatable:backdrop:selected:hover expander title > arrow,
terminal-window.background.csd row.activatable:backdrop:selected:hover expander title > arrow:hover,
terminal-window.background.csd modelbutton.flat:disabled:selected arrow,
terminal-window.background.csd modelbutton.flat:backdrop:selected arrow,
terminal-window.background.csd modelbutton.flat:backdrop:hover:selected arrow,
terminal-window.background.csd modelbutton.flat:backdrop:disabled:selected arrow {

  color: shade(@term_txt_dis, 1.4);
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*--------------------
       SPINNER
--------------------*/

terminal-window.background.csd:backdrop,
.tilix-background spinner:backdrop {

  color: @term_txt_dis;
  }

/*--------------------
   CHECKS & RADIOS
--------------------*/

terminal-window.background.csd check,
terminal-window.background.csd radio {

  background-image: image(@term_btn_hov_foc);
  color: @term_txt_main;
  border-color: alpha(@term_txt_main, 0.35);
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_main_shdw_small,
  0 0 0.134375rem @term_icon_main_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 @term_btn_shdw,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*FOC & HOV*/
terminal-window.background.csd check:focus,
terminal-window.background.csd radio:focus,
terminal-window.background.csd check:hover,
terminal-window.background.csd radio:hover {

  border-color: @term_btn_hov_foc_brd;
  box-shadow: inset 0 0 0.09375rem 0 @term_btn_hov_foc_brd,
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*MENU HOV*/
terminal-window.background.csd modelbutton.flat check:not(:checked):not(:backdrop):hover,
terminal-window.background.csd modelbutton.flat radio:not(:checked):not(:backdrop):hover,
/**/
terminal-window.background.csd .menuitem.button.flat check:not(:checked):not(:backdrop):hover,
terminal-window.background.csd .menuitem.button.flat radio:not(:checked):not(:backdrop):hover,
/**/
terminal-window.background.csd menuitem check:not(:checked):not(:backdrop):hover,
terminal-window.background.csd menuitem radio:not(:checked):not(:backdrop):hover {

  background-image: image(@term_chk_rdo_menu_hov);
  border-color: @term_chk_rdo_menu_hov_brd;
  }

/*CHKD*/
terminal-window.background.csd check:checked,
terminal-window.background.csd radio:checked {

  background-image: linear-gradient(to bottom, @term_accent_lght, @term_accent_main);
  color: alpha(@term_txt_lght, 0.85);
  border-color: alpha(@term_accent_drk, 0.75);
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_icon_sel_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 rgba(0, 0, 0, 0.0);
  }

/*DIS - UNCHKD & CHKD*/
terminal-window.background.csd check:not(:checked):disabled,
terminal-window.background.csd check:not(:checked):backdrop:disabled,
terminal-window.background.csd radio:not(:checked):disabled,
terminal-window.background.csd radio:not(:checked):disabled:backdrop,
terminal-window.background.csd check:checked:disabled,
terminal-window.background.csd check:checked:backdrop:disabled,
terminal-window.background.csd radio:checked:disabled,
terminal-window.background.csd radio:checked:disabled:backdrop {

  background-image: image(shade(@term_btn_dis, 1.1));
  color: alpha(shade(@term_txt_dis, 1.4), 0.9);
  border-color: @term_btn_dis_brd;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 @term_btn_shdw;
  }

/*BKDP - UNCHKD*/
terminal-window.background.csd check:not(:checked):backdrop,
terminal-window.background.csd radio:not(:checked):backdrop {

  background-image: image(alpha(@term_btn_hov_foc, 0.5));
  color: shade(@term_txt_dis, 1.3);
  border-color: alpha(@term_txt_dis, 0.25);
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: inset 0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.1875rem 0 @term_btn_shdw;
  }

/*BKDP - CHKD*/
terminal-window.background.csd check:checked:backdrop,
terminal-window.background.csd radio:checked:backdrop {

  background-image: image(alpha(shade(@term_accent_main, 1.35), 0.5));
  color: shade(@term_txt_dis, 1.3);
  border-color: alpha(@term_accent_drkr, 0.4);
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.0);
  }

/*--------------------
      LABELS
--------------------*/

terminal-window.background.csd .dim-label,
terminal-window.background.csd label.separator,
terminal-window.background.csd menuitem accelerator {

  color: @term_txt_dim;
  text-shadow: 0 0 0.0625rem @term_txt_dim_shdw_small,
  0 0 0.134375rem @term_txt_dim_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dim_shdw_small,
  0 0 0.134375rem @term_icon_dim_shdw_wide;
  }

terminal-window.background.csd .dim-label:backdrop,
terminal-window.background.csd .dim-label:disabled,
terminal-window.background.csd .dim-label:backdrop:disabled,
terminal-window.background.csd label.separator:backdrop,
terminal-window.background.csd label.separator:disabled,
terminal-window.background.csd label.separator:backdrop:disabled,
terminal-window.background.csd menuitem:backdrop accelerator,
terminal-window.background.csd menuitem:disabled accelerator,
terminal-window.background.csd menuitem:backdrop:disabled accelerator {

  color: @term_txt_dis;
  text-shadow: 0 0 0.0625rem @term_txt_dis_shdw_small,
  0 0 0.134375rem @term_txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_dis_shdw_small,
  0 0 0.134375rem @term_icon_dis_shdw_wide;
  }

/*SEL*/
terminal-window.background.csd *:selected .dim-label:not(button) { 

  color: @term_txt_lght;
  text-shadow: 0 0 0.0625rem @term_txt_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_txt_sel_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @term_icon_sel_shdw_small,
  0 -0.015625rem 0.134375rem @term_icon_sel_shdw_wide;
  }

terminal-window.background.csd *:disabled:selected .dim-label:not(button),
terminal-window.background.csd *:backdrop:disabled:selected .dim-label:not(button),
terminal-window.background.csd *:backdrop:selected .dim-label:not(button),
terminal-window.background.csd *:backdrop:selected:hover .dim-label:not(button) {

  color: shade(@term_txt_dis, 1.4);
  text-shadow: 0 0 0.0625rem @txt_dis_shdw_small,
  0 0 0.134375rem @txt_dis_shdw_wide;
  -gtk-icon-shadow: 0 0 0.0625rem @icon_dis_shdw_small,
  0 0 0.134375rem @icon_dis_shdw_wide;
  }

/*--------------------
 FRAMES & SEPARATORS
--------------------*/

terminal-window.background.csd frame > border,
terminal-window.background.csd frame > border:backdrop,
terminal-window.background.csd .frame,
terminal-window.background.csd .frame:backdrop,
/**/
terminal-window.background.csd separator,
terminal-window.background.csd separator:backdrop,
.tilix-background separator,
.tilix-background separator:backdrop {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  border-color: @term_scr;
  }

.tilix-background paned > separator,
.tilix-background paned > separator:backdrop,
.tilix-background paned > separator.wide,
.tilix-background paned > separator.wide:backdrop {

  background-image: image(alpha(@term_txt_main, 0.2));
  }

/*--------------------
      SCROLLBAR
--------------------*/

terminal-window.background.csd scrollbar slider,
.tilix-terminal-scrolledwindow scrollbar slider,
.tilix-background scrollbar slider,
vte-terminal:not(.terminal) scrollbar slider {

  background-color: alpha(shade(@term_scroll, 0.8), 0.85);
  }

terminal-window.background.csd scrollbar slider:hover,
terminal-window.background.csd scrollbar slider:active,
.tilix-terminal-scrolledwindow scrollbar slider:hover,
.tilix-terminal-scrolledwindow scrollbar slider:active,
.tilix-background scrollbar slider:hover,
.tilix-background scrollbar slider:active,
vte-terminal:not(.terminal) scrollbar slider:hover,
vte-terminal:not(.terminal) scrollbar slider:active {

  background-color: @term_scroll;
  }

terminal-window.background.csd scrollbar slider:disabled,
terminal-window.background.csd scrollbar slider:backdrop:disabled,
.tilix-terminal-scrolledwindow scrollbar slider:disabled,
.tilix-background scrollbar slider:disabled,
vte-terminal:not(.terminal) scrollbar slider:disabled {

  background-color: rgba(0, 0, 0, 0.0);
  }

terminal-window.background.csd scrollbar slider:backdrop,
.tilix-terminal-scrolledwindow scrollbar slider:backdrop,
.tilix-background scrollbar slider:backdrop,
vte-terminal:not(.terminal) scrollbar slider:backdrop {

  transition: 0ms ease-out;
  background-color: alpha(@term_scroll, 0.5);
  }

/* *** MISC ADJUSTMENTS (mostly for Tilix) *** */

.tilix-terminal-scrolledwindow,
stack.tilix-background,
box.vertical.tilix-background,
notebook.tilix-background {

  background-color: @term_scr;
  background-image: image(@term_scr);
  color: @term_txt_main;
  border-bottom-left-radius: 6.2px;
  border-bottom-right-radius: 6.2px;
  }

terminal-window.background.csd notebook > header,
terminal-window.background.csd notebook > header:backdrop,
terminal-window.background.csd notebook.frame > header,
terminal-window.background.csd notebook.frame > header:backdrop,
/**/
frame.tilix-search-frame,
frame.tilix-search-frame > border.flat,
.tilix-background frame,
.tilix-background .frame,
.tilix-background frame > border,
.tilix-background frame > border.flat,
notebook.tilix-background > header {

  border-color: @term_scr;
  }

/*Adjustments primarily to add space*/
.tilix-terminal-scrolledwindow {

  padding-top: 0.25rem;
  padding-left: 0.34375rem;
  padding-right: 0.34375rem;
  }

.terminal-titlebar {

  padding: 0.25rem 0.34375rem;
  }

/*----------------------------------------
		TITLEBUTTONS
----------------------------------------*/

/*--------------------
	CLOSE
--------------------*/

terminal-window.background.csd > headerbar.titlebar button.titlebutton.close {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/close.svg"),
  url("graphics/titlebuttons-terminal/close@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*CLOSE-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.close:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/close-hover.svg"),
  url("graphics/titlebuttons-terminal/close-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*CLOSE-ACT*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.close:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/close-active.svg"),
  url("graphics/titlebuttons-terminal/close-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*CLOSE-BKDP*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.close:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/close-backdrop.svg"),
  url("graphics/titlebuttons-terminal/close-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*CLOSE-BKDP-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.close:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/close-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/close-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	MINIMIZE
--------------------*/

terminal-window.background.csd > headerbar.titlebar button.titlebutton.minimize {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/minimize.svg"),
  url("graphics/titlebuttons-terminal/minimize@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MIN-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.minimize:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/minimize-hover.svg"),
  url("graphics/titlebuttons-terminal/minimize-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MIN-ACT*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.minimize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/minimize-active.svg"),
  url("graphics/titlebuttons-terminal/minimize-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MIN-BKDP*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.minimize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/minimize-backdrop.svg"),
  url("graphics/titlebuttons-terminal/minimize-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MIN-BKDP-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.minimize:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/minimize-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/minimize-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	MAXIMIZE
--------------------*/

terminal-window.background.csd > headerbar.titlebar button.titlebutton.maximize {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/maximize.svg"),
  url("graphics/titlebuttons-terminal/maximize@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.maximize:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/maximize-hover.svg"),
  url("graphics/titlebuttons-terminal/maximize-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MAX-ACT*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.maximize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/maximize-active.svg"),
  url("graphics/titlebuttons-terminal/maximize-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MAX-BKDP*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.maximize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/maximize-backdrop.svg"),
  url("graphics/titlebuttons-terminal/maximize-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-BKDP-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.maximize:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/maximize-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/maximize-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }

/*MAX-FULLSCRN*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.maximize,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.maximize {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore.svg"),
  url("graphics/titlebuttons-terminal/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-FULLSCRN-HOV*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.maximize:hover,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.maximize:hover {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MAX-FULLSCRN-ACT*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.maximize:active,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.maximize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-active.svg"),
  url("graphics/titlebuttons-terminal/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*MAX-FULLSCRN-BKDP*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.maximize:backdrop,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.maximize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-FULLSCRN-BKDP-HOV*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.maximize:backdrop:hover,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.maximize:backdrop:hover {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	RESTORE
--------------------*/

terminal-window.background.csd > headerbar.titlebar button.titlebutton.restore {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore.svg"),
  url("graphics/titlebuttons-terminal/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.restore:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*RST-ACT*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.restore:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-active.svg"),
  url("graphics/titlebuttons-terminal/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*RST-BKDP*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.restore:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-BKDP-HOV*/
terminal-window.background.csd > headerbar.titlebar button.titlebutton.restore:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }

/*RST-FULLSCRN*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.restore,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.restore {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore.svg"),
  url("graphics/titlebuttons-terminal/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-FULLSCRN-HOV*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.restore:hover,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.restore:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*RST-FULLSCRN-ACT*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.restore:active,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.restore:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-active.svg"),
  url("graphics/titlebuttons-terminal/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_shdw, 0.75);
  }

/*RST-FULLSCRN-BKDP*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.restore:backdrop,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.restore:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-FULLSCRN-BKDP-HOV*/
terminal-window.background.csd.fullscreen > headerbar.titlebar button.titlebutton.restore:backdrop:hover,
terminal-window.background.csd.maximized > headerbar.titlebar button.titlebutton.restore:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-terminal/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-terminal/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @term_btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@term_btn_title_bkdp_hov_shdw, 0.75);
  }
