/*----------------------------------------
| copyright 2022 gom 
| <gom@disroot.org>
| https://codeberg.org/gom/
----------------------------------------*/

/*----------------------------------------
| This file is part of the temperantia GTK theme.

| The temperantia GTK theme is free software: you can redistribute it 
| and/or modify it under the terms of the GNU General Public License 
| as published by the Free Software Foundation, either version 3 of the License, 
| or (at your option) any later version.

| The temperantia GTK theme is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.

| You should have received a copy of the GNU General Public License
| along with the temperantia GTK theme. If not, see http://www.gnu.org/licenses/
----------------------------------------*/

/*----------------------------------------
	    TITLEBUTTONS LIGHT
----------------------------------------*/

/*--------------------
	BASE
--------------------*/

button.titlebutton:not(.flat):not(.appmenu),
headerbar button.titlebutton:not(.flat):not(.appmenu),
.titlebar button.titlebutton:not(.flat):not(.appmenu) {

  transition-property: background, box-shadow;
  background-color: rgba(0, 0, 0, 0.0);
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.0);
  min-width: 22px;
  min-height: 22px;
  margin: 1px 2px;
  padding: 0;
  border-style: none;
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.0);
  border-radius: 9999px;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  text-shadow: none;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*--------------------
      SEPARATOR
--------------------*/

headerbar separator.titlebutton,
.titlebar:not(headerbar) separator.titlebutton { 

  opacity: 0;
  }

/*--------------------
	CLOSE
--------------------*/

button.titlebutton.close {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/close.svg"),
  url("graphics/titlebuttons-light/close@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*CLOSE-HOV*/
button.titlebutton.close:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/close-hover.svg"),
  url("graphics/titlebuttons-light/close-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*CLOSE-ACT*/
button.titlebutton.close:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/close-active.svg"),
  url("graphics/titlebuttons-light/close-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*CLOSE-BKDP*/
button.titlebutton.close:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/close-backdrop.svg"),
  url("graphics/titlebuttons-light/close-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*CLOSE-BKDP-HOV*/
button.titlebutton.close:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/close-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/close-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	MINIMIZE
--------------------*/

button.titlebutton.minimize {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/minimize.svg"),
  url("graphics/titlebuttons-light/minimize@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MIN-HOV*/
button.titlebutton.minimize:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/minimize-hover.svg"),
  url("graphics/titlebuttons-light/minimize-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MIN-ACT*/
button.titlebutton.minimize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/minimize-active.svg"),
  url("graphics/titlebuttons-light/minimize-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MIN-BKDP*/
button.titlebutton.minimize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/minimize-backdrop.svg"),
  url("graphics/titlebuttons-light/minimize-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MIN-BKDP-HOV*/
button.titlebutton.minimize:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/minimize-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/minimize-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	MAXIMIZE
--------------------*/

button.titlebutton.maximize {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/maximize.svg"),
  url("graphics/titlebuttons-light/maximize@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-HOV*/
button.titlebutton.maximize:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/maximize-hover.svg"),
  url("graphics/titlebuttons-light/maximize-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MAX-ACT*/
button.titlebutton.maximize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/maximize-active.svg"),
  url("graphics/titlebuttons-light/maximize-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MAX-BKDP*/
button.titlebutton.maximize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/maximize-backdrop.svg"),
  url("graphics/titlebuttons-light/maximize-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-BKDP-HOV*/
button.titlebutton.maximize:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/maximize-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/maximize-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*MAX-FULLSCRN*/
.fullscreen button.titlebutton.maximize,
.maximized button.titlebutton.maximize {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore.svg"),
  url("graphics/titlebuttons-light/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-FULLSCRN-HOV*/
.fullscreen button.titlebutton.maximize:hover,
.maximized button.titlebutton.maximize:hover {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-hover.svg"),
  url("graphics/titlebuttons-light/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MAX-FULLSCRN-ACT*/
.fullscreen button.titlebutton.maximize:active,
.maximized button.titlebutton.maximize:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-active.svg"),
  url("graphics/titlebuttons-light/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*MAX-FULLSCRN-BKDP*/
.fullscreen button.titlebutton.maximize:backdrop,
.maximized button.titlebutton.maximize:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop.svg"),
  url("graphics/titlebuttons-light/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*MAX-FULLSCRN-BKDP-HOV*/
.fullscreen button.titlebutton.maximize:backdrop:hover,
.maximized button.titlebutton.maximize:backdrop:hover {
  
  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
	RESTORE
--------------------*/

button.titlebutton.restore {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore.svg"),
  url("graphics/titlebuttons-light/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-HOV*/
button.titlebutton.restore:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-hover.svg"),
  url("graphics/titlebuttons-light/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*RST-ACT*/
button.titlebutton.restore:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-active.svg"),
  url("graphics/titlebuttons-light/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*RST-BKDP*/
button.titlebutton.restore:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop.svg"),
  url("graphics/titlebuttons-light/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-BKDP-HOV*/
button.titlebutton.restore:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*RST-FULLSCRN*/
.fullscreen button.titlebutton.restore,
.maximized button.titlebutton.restore {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore.svg"),
  url("graphics/titlebuttons-light/restore@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-FULLSCRN-HOV*/
.fullscreen button.titlebutton.restore:hover,
.maximized button.titlebutton.restore:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-hover.svg"),
  url("graphics/titlebuttons-light/restore-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*RST-FULLSCRN-ACT*/
.fullscreen button.titlebutton.restore:active,
.maximized button.titlebutton.restore:active {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-active.svg"),
  url("graphics/titlebuttons-light/restore-active@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_shdw,
  0 0 0.15625rem 0 shade(@btn_title_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_shdw, 0.75);
  }

/*RST-FULLSCRN-BKDP*/
.fullscreen button.titlebutton.restore:backdrop,
.maximized button.titlebutton.restore:backdrop {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop.svg"),
  url("graphics/titlebuttons-light/restore-backdrop@2.svg"));
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.15625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.125rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.09375rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.0625rem 0 rgba(0, 0, 0, 0.0),
  0 0 0.03125rem 0 rgba(0, 0, 0, 0.0);
  }

/*RST-FULLSCRN-BKDP-HOV*/
.fullscreen button.titlebutton.restore:backdrop:hover,
.maximized button.titlebutton.restore:backdrop:hover {

  background-image: -gtk-scaled(url("graphics/titlebuttons-light/restore-backdrop-hover.svg"),
  url("graphics/titlebuttons-light/restore-backdrop-hover@2.svg"));
  box-shadow: 0 0 0.1875rem 0 @btn_title_bkdp_hov_shdw,
  0 0 0.15625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.95),
  0 0 0.125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.9),
  0 0 0.09375rem 0 shade(@btn_title_bkdp_hov_shdw, 0.85),
  0 0 0.0625rem 0 shade(@btn_title_bkdp_hov_shdw, 0.8),
  0 0 0.03125rem 0 shade(@btn_title_bkdp_hov_shdw, 0.75);
  }

/*--------------------
DEFAULT-DECO ADJUSTMENTS
--------------------*/

headerbar.default-decoration button.titlebutton:not(.appmenu),
/**/
headerbar.default-decoration button.titlebutton.close,
headerbar.default-decoration button.titlebutton.close:hover,
headerbar.default-decoration button.titlebutton.close:active,
headerbar.default-decoration button.titlebutton.close:backdrop,
headerbar.default-decoration button.titlebutton.close:backdrop:hover,
/**/
headerbar.default-decoration button.titlebutton.maximize,
headerbar.default-decoration button.titlebutton.maximize:hover,
headerbar.default-decoration button.titlebutton.maximize:active,
headerbar.default-decoration button.titlebutton.maximize:backdrop,
headerbar.default-decoration button.titlebutton.maximize:backdrop:hover,
/**/
headerbar.default-decoration button.titlebutton.minimize,
headerbar.default-decoration button.titlebutton.minimize:hover,
headerbar.default-decoration button.titlebutton.minimize:active,
headerbar.default-decoration button.titlebutton.minimize:backdrop,
headerbar.default-decoration button.titlebutton.minimize:backdrop:hover,
/**/
headerbar.default-decoration button.titlebutton.restore,
headerbar.default-decoration button.titlebutton.restore:hover,
headerbar.default-decoration button.titlebutton.restore:active,
headerbar.default-decoration button.titlebutton.restore:backdrop,
headerbar.default-decoration button.titlebutton.restore:backdrop:hover,
/**/
.default-decoration.titlebar:not(headerbar) button.titlebutton:not(.appmenu),
/**/
.default-decoration.titlebar:not(headerbar) button.titlebutton.close,
.default-decoration.titlebar:not(headerbar) button.titlebutton.close:hover,
.default-decoration.titlebar:not(headerbar) button.titlebutton.close:active,
.default-decoration.titlebar:not(headerbar) button.titlebutton.close:backdrop,
.default-decoration.titlebar:not(headerbar) button.titlebutton.close:backdrop:hover,
/**/
.default-decoration.titlebar:not(headerbar) button.titlebutton.maximize,
.default-decoration.titlebar:not(headerbar) button.titlebutton.maximize:hover,
.default-decoration.titlebar:not(headerbar) button.titlebutton.maximize:active,
.default-decoration.titlebar:not(headerbar) button.titlebutton.maximize:backdrop,
.default-decoration.titlebar:not(headerbar) button.titlebutton.maximize:backdrop:hover,
/**/
.default-decoration.titlebar:not(headerbar) button.titlebutton.minimize,
.default-decoration.titlebar:not(headerbar) button.titlebutton.minimize:hover,
.default-decoration.titlebar:not(headerbar) button.titlebutton.minimize:active,
.default-decoration.titlebar:not(headerbar) button.titlebutton.minimize:backdrop,
.default-decoration.titlebar:not(headerbar) button.titlebutton.minimize:backdrop:hover,
/**/
.default-decoration.titlebar:not(headerbar) button.titlebutton.restore,
.default-decoration.titlebar:not(headerbar) button.titlebutton.restore:hover,
.default-decoration.titlebar:not(headerbar) button.titlebutton.restore:active,
.default-decoration.titlebar:not(headerbar) button.titlebutton.restore:backdrop,
.default-decoration.titlebar:not(headerbar) button.titlebutton.restore:backdrop:hover {

  box-shadow: none;
  }

/*--------------------
IMGs & LABELs ADJUSTMENTS
--------------------*/

headerbar.default-decoration button.titlebutton:not(.appmenu) image,
.titlebar.default-decoration button.titlebutton:not(.appmenu) image,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop image,
headerbar.default-decoration button.titlebutton:not(.appmenu):hover image,
headerbar.default-decoration button.titlebutton:not(.appmenu):active image,
headerbar.default-decoration button.titlebutton:not(.appmenu):checked image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):hover image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):active image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):checked image,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:hover image,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:active image,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:checked image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:hover image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:active image,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:checked image,
headerbar.default-decoration button.titlebutton.close image,
headerbar.default-decoration button.titlebutton.maximize image,
headerbar.default-decoration button.titlebutton.minimize image,
headerbar.default-decoration button.titlebutton.restore image,
.titlebar.default-decoration button.titlebutton.close image,
.titlebar.default-decoration button.titlebutton.maximize image,
.titlebar.default-decoration button.titlebutton.minimize image,
.titlebar.default-decoration button.titlebutton.restore image,
headerbar.default-decoration button.titlebutton.close:backdrop image,
headerbar.default-decoration button.titlebutton.maximize:backdrop image,
headerbar.default-decoration button.titlebutton.minimize:backdrop image,
headerbar.default-decoration button.titlebutton.restore:backdrop image,
.titlebar.default-decoration button.titlebutton.close:backdrop image,
.titlebar.default-decoration button.titlebutton.maximize:backdrop image,
.titlebar.default-decoration button.titlebutton.minimize:backdrop image,
.titlebar.default-decoration button.titlebutton.restore:backdrop image,
headerbar.default-decoration button.close.titlebutton image,
headerbar.default-decoration button.maximize.titlebutton image,
headerbar.default-decoration button.minimize.titlebutton image,
headerbar.default-decoration button.restore.titlebutton image,
.titlebar.default-decoration button.close.titlebutton image,
.titlebar.default-decoration button.maximize.titlebutton image,
.titlebar.default-decoration button.minimize.titlebutton image,
.titlebar.default-decoration button.restore.titlebutton image,
headerbar.default-decoration button.close.titlebutton:backdrop image,
headerbar.default-decoration button.maximize.titlebutton:backdrop image,
headerbar.default-decoration button.minimize.titlebutton:backdrop image,
headerbar.default-decoration button.restore.titlebutton:backdrop image,
.titlebar.default-decoration button.close.titlebutton:backdrop image,
.titlebar.default-decoration button.maximize.titlebutton:backdrop image,
.titlebar.default-decoration button.minimize.titlebutton:backdrop image,
.titlebar.default-decoration button.restore.titlebutton:backdrop image,
/**/
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu) image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):hover image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):active image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):checked image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:hover image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:active image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:checked image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.close image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.maximize image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.minimize image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.restore image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.close:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.maximize:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.minimize:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.restore:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.close.titlebutton image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.maximize.titlebutton image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.minimize.titlebutton image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.restore.titlebutton image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.close.titlebutton:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.maximize.titlebutton:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.minimize.titlebutton:backdrop image,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.restore.titlebutton:backdrop image,
/**/
headerbar button.titlebutton:not(.appmenu) image,
.titlebar button.titlebutton:not(.appmenu) image,
headerbar button.titlebutton:not(.appmenu):backdrop image,
.titlebar button.titlebutton:not(.appmenu):backdrop image,
headerbar button.titlebutton:not(.appmenu):hover image,
headerbar button.titlebutton:not(.appmenu):active image,
headerbar button.titlebutton:not(.appmenu):checked image,
.titlebar button.titlebutton:not(.appmenu):hover image,
.titlebar button.titlebutton:not(.appmenu):active image,
.titlebar button.titlebutton:not(.appmenu):checked image,
headerbar button.titlebutton:not(.appmenu):backdrop:hover image,
headerbar button.titlebutton:not(.appmenu):backdrop:active image,
headerbar button.titlebutton:not(.appmenu):backdrop:checked image,
.titlebar button.titlebutton:not(.appmenu):backdrop:hover image,
.titlebar button.titlebutton:not(.appmenu):backdrop:active image,
.titlebar button.titlebutton:not(.appmenu):backdrop:checked image,
headerbar button.titlebutton.close image,
headerbar button.titlebutton.maximize image,
headerbar button.titlebutton.minimize image,
headerbar button.titlebutton.restore image,
.titlebar button.titlebutton.close image,
.titlebar button.titlebutton.maximize image,
.titlebar button.titlebutton.minimize image,
.titlebar button.titlebutton.restore image,
headerbar button.titlebutton.close:backdrop image,
headerbar button.titlebutton.maximize:backdrop image,
headerbar button.titlebutton.minimize:backdrop image,
headerbar button.titlebutton.restore:backdrop image,
.titlebar button.titlebutton.close:backdrop image,
.titlebar button.titlebutton.maximize:backdrop image,
.titlebar button.titlebutton.minimize:backdrop image,
.titlebar button.titlebutton.restore:backdrop image,
headerbar button.close.titlebutton image,
headerbar button.maximize.titlebutton image,
headerbar button.minimize.titlebutton image,
headerbar button.restore.titlebutton image,
.titlebar button.close.titlebutton image,
.titlebar button.maximize.titlebutton image,
.titlebar button.minimize.titlebutton image,
.titlebar button.restore.titlebutton image,
headerbar button.close.titlebutton:backdrop image,
headerbar button.maximize.titlebutton:backdrop image,
headerbar button.minimize.titlebutton:backdrop image,
headerbar button.restore.titlebutton:backdrop image,
.titlebar button.close.titlebutton:backdrop image,
.titlebar button.maximize.titlebutton:backdrop image,
.titlebar button.minimize.titlebutton:backdrop image,
.titlebar button.restore.titlebutton:backdrop image,
/**/
headerbar.titlebar button.titlebutton:not(.appmenu) image,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop image,
headerbar.titlebar button.titlebutton:not(.appmenu):hover image,
headerbar.titlebar button.titlebutton:not(.appmenu):active image,
headerbar.titlebar button.titlebutton:not(.appmenu):checked image,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:hover image,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:active image,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:checked image,
headerbar.titlebar button.titlebutton.close image,
headerbar.titlebar button.titlebutton.maximize image,
headerbar.titlebar button.titlebutton.minimize image,
headerbar.titlebar button.titlebutton.restore image,
headerbar.titlebar button.titlebutton.close:backdrop image,
headerbar.titlebar button.titlebutton.maximize:backdrop image,
headerbar.titlebar button.titlebutton.minimize:backdrop image,
headerbar.titlebar button.titlebutton.restore:backdrop image,
headerbar.titlebar button.close.titlebutton image,
headerbar.titlebar button.maximize.titlebutton image,
headerbar.titlebar button.minimize.titlebutton image,
headerbar.titlebar button.restore.titlebutton image,
headerbar.titlebar button.close.titlebutton:backdrop image,
headerbar.titlebar button.maximize.titlebutton:backdrop image,
headerbar.titlebar button.minimize.titlebutton:backdrop image,
headerbar.titlebar button.restore.titlebutton:backdrop image,
/**/
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu) > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):hover > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):active > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):checked > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:hover > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:active > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:checked > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.close > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.maximize > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.minimize > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.restore > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.close:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.maximize:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.minimize:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.restore:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.close.titlebutton > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.maximize.titlebutton > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.minimize.titlebutton > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.restore.titlebutton > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.close.titlebutton:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.maximize.titlebutton:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.minimize.titlebutton:backdrop > image,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.restore.titlebutton:backdrop > image,
/**/
headerbar.default-decoration button.titlebutton:not(.appmenu) label,
.titlebar.default-decoration button.titlebutton:not(.appmenu) label,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop label,
headerbar.default-decoration button.titlebutton:not(.appmenu):hover label,
headerbar.default-decoration button.titlebutton:not(.appmenu):active label,
headerbar.default-decoration button.titlebutton:not(.appmenu):checked label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):hover label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):active label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):checked label,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:hover label,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:active label,
headerbar.default-decoration button.titlebutton:not(.appmenu):backdrop:checked label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:hover label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:active label,
.titlebar.default-decoration button.titlebutton:not(.appmenu):backdrop:checked label,
headerbar.default-decoration button.titlebutton.close label,
headerbar.default-decoration button.titlebutton.maximize label,
headerbar.default-decoration button.titlebutton.minimize label,
headerbar.default-decoration button.titlebutton.restore label,
.titlebar.default-decoration button.titlebutton.close label,
.titlebar.default-decoration button.titlebutton.maximize label,
.titlebar.default-decoration button.titlebutton.minimize label,
.titlebar.default-decoration button.titlebutton.restore label,
headerbar.default-decoration button.titlebutton.close:backdrop label,
headerbar.default-decoration button.titlebutton.maximize:backdrop label,
headerbar.default-decoration button.titlebutton.minimize:backdrop label,
headerbar.default-decoration button.titlebutton.restore:backdrop label,
.titlebar.default-decoration button.titlebutton.close:backdrop label,
.titlebar.default-decoration button.titlebutton.maximize:backdrop label,
.titlebar.default-decoration button.titlebutton.minimize:backdrop label,
.titlebar.default-decoration button.titlebutton.restore:backdrop label,
headerbar.default-decoration button.close.titlebutton label,
headerbar.default-decoration button.maximize.titlebutton label,
headerbar.default-decoration button.minimize.titlebutton label,
headerbar.default-decoration button.restore.titlebutton label,
.titlebar.default-decoration button.close.titlebutton label,
.titlebar.default-decoration button.maximize.titlebutton label,
.titlebar.default-decoration button.minimize.titlebutton label,
.titlebar.default-decoration button.restore.titlebutton label,
headerbar.default-decoration button.close.titlebutton:backdrop label,
headerbar.default-decoration button.maximize.titlebutton:backdrop label,
headerbar.default-decoration button.minimize.titlebutton:backdrop label,
headerbar.default-decoration button.restore.titlebutton:backdrop label,
.titlebar.default-decoration button.close.titlebutton:backdrop label,
.titlebar.default-decoration button.maximize.titlebutton:backdrop label,
.titlebar.default-decoration button.minimize.titlebutton:backdrop label,
.titlebar.default-decoration button.restore.titlebutton:backdrop label,
/**/
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu) label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):hover label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):active label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):checked label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:hover label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:active label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:checked label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.close label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.maximize label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.minimize label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.restore label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.close:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.maximize:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.minimize:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.titlebutton.restore:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.close.titlebutton label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.maximize.titlebutton label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.minimize.titlebutton label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.restore.titlebutton label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.close.titlebutton:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.maximize.titlebutton:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.minimize.titlebutton:backdrop label,
.regular > headerbar.titlebar.default-decoration > box.horizontal.right > button.restore.titlebutton:backdrop label,
/**/
headerbar button.titlebutton:not(.appmenu) label,
.titlebar button.titlebutton:not(.appmenu) label,
headerbar button.titlebutton:not(.appmenu):backdrop label,
.titlebar button.titlebutton:not(.appmenu):backdrop label,
headerbar button.titlebutton:not(.appmenu):hover label,
headerbar button.titlebutton:not(.appmenu):active label,
headerbar button.titlebutton:not(.appmenu):checked label,
.titlebar button.titlebutton:not(.appmenu):hover label,
.titlebar button.titlebutton:not(.appmenu):active label,
.titlebar button.titlebutton:not(.appmenu):checked label,
headerbar button.titlebutton:not(.appmenu):backdrop:hover label,
headerbar button.titlebutton:not(.appmenu):backdrop:active label,
headerbar button.titlebutton:not(.appmenu):backdrop:checked label,
.titlebar button.titlebutton:not(.appmenu):backdrop:hover label,
.titlebar button.titlebutton:not(.appmenu):backdrop:active label,
.titlebar button.titlebutton:not(.appmenu):backdrop:checked label,
headerbar button.titlebutton.close label,
headerbar button.titlebutton.maximize label,
headerbar button.titlebutton.minimize label,
headerbar button.titlebutton.restore label,
.titlebar button.titlebutton.close label,
.titlebar button.titlebutton.maximize label,
.titlebar button.titlebutton.minimize label,
.titlebar button.titlebutton.restore label,
headerbar button.titlebutton.close:backdrop label,
headerbar button.titlebutton.maximize:backdrop label,
headerbar button.titlebutton.minimize:backdrop label,
headerbar button.titlebutton.restore:backdrop label,
.titlebar button.titlebutton.close:backdrop label,
.titlebar button.titlebutton.maximize:backdrop label,
.titlebar button.titlebutton.minimize:backdrop label,
.titlebar button.titlebutton.restore:backdrop label,
headerbar button.close.titlebutton label,
headerbar button.maximize.titlebutton label,
headerbar button.minimize.titlebutton label,
headerbar button.restore.titlebutton label,
.titlebar button.close.titlebutton label,
.titlebar button.maximize.titlebutton label,
.titlebar button.minimize.titlebutton label,
.titlebar button.restore.titlebutton label,
headerbar button.close.titlebutton:backdrop label,
headerbar button.maximize.titlebutton:backdrop label,
headerbar button.minimize.titlebutton:backdrop label,
headerbar button.restore.titlebutton:backdrop label,
.titlebar button.close.titlebutton:backdrop label,
.titlebar button.maximize.titlebutton:backdrop label,
.titlebar button.minimize.titlebutton:backdrop label,
.titlebar button.restore.titlebutton:backdrop label,
/**/
headerbar.titlebar button.titlebutton:not(.appmenu) label,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop label,
headerbar.titlebar button.titlebutton:not(.appmenu):hover label,
headerbar.titlebar button.titlebutton:not(.appmenu):active label,
headerbar.titlebar button.titlebutton:not(.appmenu):checked label,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:hover label,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:active label,
headerbar.titlebar button.titlebutton:not(.appmenu):backdrop:checked label,
headerbar.titlebar button.titlebutton.close label,
headerbar.titlebar button.titlebutton.maximize label,
headerbar.titlebar button.titlebutton.minimize label,
headerbar.titlebar button.titlebutton.restore label,
headerbar.titlebar button.titlebutton.close:backdrop label,
headerbar.titlebar button.titlebutton.maximize:backdrop label,
headerbar.titlebar button.titlebutton.minimize:backdrop label,
headerbar.titlebar button.titlebutton.restore:backdrop label,
headerbar.titlebar button.close.titlebutton label,
headerbar.titlebar button.maximize.titlebutton label,
headerbar.titlebar button.minimize.titlebutton label,
headerbar.titlebar button.restore.titlebutton label,
headerbar.titlebar button.close.titlebutton:backdrop label,
headerbar.titlebar button.maximize.titlebutton:backdrop label,
headerbar.titlebar button.minimize.titlebutton:backdrop label,
headerbar.titlebar button.restore.titlebutton:backdrop label,
/**/
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu) > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):hover > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):active > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):checked > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:hover > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:active > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton:not(.appmenu):backdrop:checked > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.close > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.maximize > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.minimize > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.restore > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.close:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.maximize:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.minimize:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.titlebutton.restore:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.close.titlebutton > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.maximize.titlebutton > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.minimize.titlebutton > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.restore.titlebutton > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.close.titlebutton:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.maximize.titlebutton:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.minimize.titlebutton:backdrop > label,
paned.titlebar.horizontal > headerbar > box.horizontal.right > button.restore.titlebutton:backdrop > label {

  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.0);
  padding: 0;
  border-style: none;
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.0);
  opacity: 0;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  text-shadow: none;
  }

